<div id='contact-success'>
	<h3 class='notification-title'>Hooray!</h3>
	<p class='notification-text'>You will be hearing from us shortly</p>
</div>

<div id='contact-failure'>
	<h3 class='notification-title'>Hmm...</h3>
	<p class='notification-text'>Something went wrong, try again!</p>
</div>

<div id='contact-error'>
	<h3 class='notification-title'>Uh Oh!</h3>
	<p class='notification-text'>Looks like your form isn't valid</p>
</div>