<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Golondrina Studio</title>
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400i|Open+Sans:300,300i,400,700" rel="stylesheet">
		<link rel='stylesheet' href='./static/icons/style.css'>
		<link rel='stylesheet' href='./styles/main.min.css'>
	</head>

	<body>
		<% include ../shared/nav %>
		<% include ../shared/mobile-menu %>

		<div class='contact-page-container'>
			<div class='contact-page-content'>
				<div class='contact-page-form'>
					<h1>Contact Us</h1>

					<p>We are here to answer any questions you might have about the work we do here at Golondrina Studios. Reach out to us and we'll respond as soon as we can</p>

					<p>Have a project that you have always wanted done but can't find anything like it here? Let us know and we will work with you and see if it can be done</p>

					<div class='contact-form-form'>
						<form name='contactForm'>
							<div class='form-wrapper contact-page-wrapper'>
								<input type='text' name='name' class='form-input' id='contact-name'>
								<label>
									Name
								</label>
							</div>

							<div class='form-wrapper contact-page-wrapper form-email'>
								<input type='email' name='email' class='form-input' id='contact-email'>
								<label>
									<span class='contact-label-effect'>Email</span>
								</label>
							</div>

							<div class='form-wrapper contact-page-wrapper'>
								<input type='phone' name='phone' class='form-input' id='contact-phone'>
								<label>
									<span class='contact-label-effect'>Phone</span>
								</label>
							</div>

							<div class='form-wrapper contact-page-wrapper'>
								<textarea name='message' class='form-input' rows='7' id='contact-message'></textarea>
								<label>
									<span class='contact-label-effect'>Message</span>
								</label>
							</div>

							<div class='contact-page-submit'>
								<button type='button' class='form-send contact-send'>
									<div class='loader'></div>
									<span>Send</span>
								</button>
							</div>
						</form>
					</div>
				</div>

				<div class='contact-page-details'>
					<div>
						<div class='contact-detail'>
							<span class='icon-envelope'></span>
							<div>
								<h4>Email</h4>
								<p>EKtolbert@gmail.com</p>
							</div>
						</div>

						<div class='contact-detail'>
							<span class='icon-global'></span>
							<div>
								<h4>Phone</h4>
								<p>1-940-367-5374</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<% include ./contact-notifications %>
		<% include ../shared/footer %>

		<script src='./bundle.js'></script>
	</body>
</html>