[data-entrance]
	visibility: hidden

.frame
	position: relative
	width: 90%
	font-size: 0
	line-height: 0
	overflow: hidden
	white-space: nowrap
	margin: 0 auto

.slides
	display: inline-block
	width: 100%

.js_slide
	position: relative
	display: inline-block
	width: 100%

.landing-page-content
	display: flex
	flex-direction: column

.landing-header
	display: flex
	align-items: center
	justify-content: center
	margin-top: -55px
	border-bottom: 1px solid rgba(0,0,0,0.12)
	background: #1f2439
	padding-bottom: 75px

	> div
		display: flex
		flex-direction: column
		align-items: center
		width: 75%
		padding-top: 195px
		margin: 0 auto

		h1
			@include lato
			font-weight: 400
			font-size: 30px
			letter-spacing: 2px
			margin-bottom: 38px
			color: #f1f3f3

		p
			@include quat()
			font-weight: 400
			font-size: 20px
			line-height: 22px
			letter-spacing: 1px
			width: 90%
			text-align: center
			margin-bottom: 70px
			color: #98b3bb

.landing-header-contact
	display: flex
	align-items: center
	justify-content: center
	position: relative
	height: 45px
	width: 180px
	border-radius: 20px
	border: 1px solid #37bf5b
	background-color: #37bf5b
	outline: none
	transition: background-color 0.4s ease-out, color 0.4s ease-out

	span
		@include quat()
		font-weight: 400
		font-size: 18px
		letter-spacing: 1px
		color: #f1f3f3

	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 180px
		height: 45px
		border: 1px solid #60c4d3
		border-radius: inherit
		opacity: 0
		transform: scale3d(0.6, 0.6, 1)
		transition: transform 0.4s, opacity 0.4s
		transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1)

	&:hover
		background-color: transparent
		border: none
		
		&::before
			transform: scale3d(1,1,1)
			opacity: 1



.landing-about
	padding-top: 140px
	padding-bottom: 80px
	background: #f1f3f3

.landing-about-columns
	display: flex
	flex-direction: column
	align-items: center
	width: 75%
	margin: 0 auto

	> div
		display: flex
		flex-direction: column
		margin-bottom: 125px

		h3
			@include lato()
			font-weight: 300
			font-size: 22px
			letter-spacing: .6px
			margin-bottom: 27px
			color: #98b3bb
			text-transform: uppercase

			span
				display: inline-block
				margin-right: 8px

		p
			@include quat()
			font-weight: 400
			font-size: 18px
			line-height: 20px
			letter-spacing: 1px
			margin-left: 14px

.landing-about-icon
	height: 25px
	width: 25px

	use
		height: 25px
		width: 25px

.landing-testimonials
	width: 100%
	padding: 180px 0 70px 0
	margin: 0 auto
	border-bottom: 1px solid rgba(0,0,0,0.12)
	background-color: darken(#9e99cd, 10%)

	h3
		@include lato()
		font-weight: 300
		font-size: 24px
		letter-spacing: 1px
		margin-bottom: 45px
		text-align: center
		color: #f1f3f3

	> p
		@include quat()
		font-weight: 400
		font-size: 18px
		line-height: 20px
		letter-spacing: 1px
		width: 60%
		margin: 0 auto
		text-align: center
		color: #98b3bb



.testimonial-mobile
	display: flex
	flex-direction: column
	align-items: center
	padding-top: 30px

.single-testimonial
	text-overflow: ellipsis
	white-space: normal

	.testimonial-image
		height: 90px
		width: 90px
		border-radius: 50%
		background: rgba(255,255,255,0.1)
		margin: 0 auto 80px auto

	p
		@include quat()
		font-weight: 400
		font-size: 18px
		letter-spacing: 1px
		line-height: 24px
		color: #fff
		width: 60%
		margin: 0 auto

.landing-testimonial-button
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	padding: 125px 0 40px 0

	button
		height: 40px
		width: 185px
		border-radius: 25px
		border: none
		outline: none
		background: rgba(255, 255, 255, 0.1)
		transition: background .4s ease-out

		span
			@include quat()
			font-weight: 400
			font-size: 18px
			letter-spacing: 1px
			line-height: 22px
			color: #f1f3f3

		&:hover
			background: lighten(#9e99cd, 10%)

.testimonial-controlls
	display: flex
	align-items: stretch
	position: relative

	> div
		&:nth-of-type(1)
			display: flex
			flex: 1
			flex-basis: 0
			align-items: center
			justify-content: flex-start

		&:nth-of-type(2)
			display: flex
			align-items: center
			justify-content: center

		&:nth-of-type(3)
			display: flex
			flex: 1
			flex-basis: 0
			align-items: center
			justify-content: flex-end

.testimonial-control-item
	display: flex
	align-items: center
	justify-content: center
	padding: 10px

	p
		@include quat()
		font-weight: 400
		font-size: 18px
		letter-spacing: 1px
		line-height: 24px
		color: #fff


.landing-prev-button
	display: inline-block
	position: relative
	border: none
	outline: none
	font-size: 30px
	color: rgba(255,255,255,0.6)
	transition: all .5s ease-out

	&:hover
		transform: scale(1.4,1.4)


.landing-next-button
	border: none
	outline: none
	font-size: 30px
	color: rgba(255,255,255,0.6)
	transition: all .5s ease-out

	&:hover
		transform: scale(1.4,1.4)

.landing-latest-works
	display: flex
	flex-direction: column
	align-items: center
	padding: 120px 0 70px 0

.landing-work
	display: flex
	flex-direction: column
	align-items: center
	width: 85%
	margin: 0 auto 125px auto

	> div

		&:nth-of-type(1)
			height: 150px
			width: 90%
			background: rgba(0,0,0,0.35)
			margin-bottom: 35px

	h3
		@include lato()
		font-weight: 300
		font-size: 22px
		letter-spacing: 1px
		line-height: 38px
		margin-bottom: 25px
		color: #98b3bb

	span
		@include quat()
		font-weight: 400
		font-size: 22px
		letter-spacing: 1px
		line-height: 38px
		color: #14869d

	p
		@include quat()
		font-weight: 400
		font-size: 18px
		line-height: 26px
		letter-spacing: 1px
		text-align: center
		color: #3f4c5b

.landing-latest-button
	padding-bottom: 40px

	button
		height: 40px
		width: 180px
		border: none
		border-radius: 25px
		outline: none
		background: #9e99cd
		transition: background .4s ease-out

		span
			@include quat()
			font-weight: 400
			font-size: 20px
			line-height: 28px
			letter-spacing: 1px
			color: #f1f3f3

		&:hover
			background: lighten(#9e99cd, 5%)

.landing-newsletter
	display: flex
	flex-direction: column
	position: relative
	padding: 55px 0
	background: url("../../static/images/keyboard.jpg")
	background-repeat: no-repeat
	background-size: cover

	h3
		position: relative
		@include lato()
		font-weight: 400
		letter-spacing: 1px
		line-height: 28px
		font-size: 22px
		text-align: center
		color: #f1f3f3
		z-index: 15

.landing-newsletter-overlay
	position: absolute
	top: 0
	left: 0
	height: 100%
	width: 100%
	background: rgba(55,191,91, 0.6)


.landing-newsletter-input
	padding-top: 55px


.landing-form-wrapper
	position: relative
	width: 80%
	margin: 0 auto

	label
		display: inline-block
		position: absolute
		top: 14px
		left: 15px
		@include lato()
		font-weight: 400
		font-size: 16px
		letter-spacing: 1px
		opacity: 1
		z-index: 10
		outline: none
		transition: all .4s ease-out

		span
			margin-right: 6px

	input
		position: relative
		height: 40px
		width: 70%
		background: #fff
		border: none
		border-top-left-radius: 22px
		border-bottom-left-radius: 22px

	button
		position: relative
		border: none
		height: 42px
		width: 30%
		padding-bottom: 4px
		margin-left: -14px
		background: #37bf5b
		border-top-right-radius: 22px
		border-bottom-right-radius: 22px
		z-index: 10
		transition: all .3s ease-out

		&:hover
			background: lighten(#37bf5b, 15%)


		span
			@include quat()
			font-weight: 400
			font-size: 18px
			letter-spacing: 1px
			line-height: 24px
			color: #f1f3f3

.landing-email--focused
	label
		left: -50px
		opacity: 0

.landing-email--valid
	label
		opacity: 0
		left: -50px

.landing-email--invalid
	label
		opacity: 0
		left: -50px

	&.landing-email--blank
		label
			opacity: 1
			left: 15px

	&.landing-email--focused
		label
			left: -50px
			opacity: 0


@media screen and (min-width: 630px) and (max-width: 1010px)
	.landing-header
		padding-bottom: 120px

		> div

			h1
				margin-bottom: 80px

			p
				margin-bottom: 90px

				span
					font-style: italic

	.landing-about
		padding-top: 240px
		padding-bottom: 120px


	.landing-about-columns
		> div
			margin-bottom: 175px

			h3
				margin-bottom: 55px

	.landing-testimonial-display
		padding-top: 150px

	.landing-work
		margin-botton: 125px

		> div

			&:nth-of-type(1)
				width: 60%
				height: 225px

	.landing-latest-button
		padding-top: 40px
		padding-bottom: 120px

		button
			width: 240px
			height: 45px

	.landing-newsletter
		padding-bottom: 40px


@media screen and (min-width: 1010px) and (max-width: 1270px)
	.landing-about-columns
		display: flex
		flex-direction: row
		flex-wrap: wrap
		width: 80%
		margin: 0 auto

		> div
			display: flex
			align-items: center
			width: 49%
			margin-bottom: 170px

			&:nth-of-type(3)
				width: 100%

				p
					width: 60%
					margin: 0 auto
					text-align: center

	.landing-work
		> div
			&:nth-of-type(1)
				height: 250px
				width: 60%

	.landing-form-wrapper
		input
			width: 80%

		button
			height: 44px
			width: 20%

@media screen and (min-width: 1270px) and (max-width: 1400px)
	.landing-about-columns
		display: flex
		flex-direction: row
		flex-wrap: wrap
		width: 90%
		margin: 0 auto

		> div
			display: flex
			align-items: center
			width: 50%
			margin-bottom: 170px

			&:nth-of-type(3)
				width: 100%

				p
					width: 60%
					margin: 0 auto
					text-align: center

	.landing-testimonials
		p
			margin-bottom: 60px

	.single-testimonial
		p
			width: 70%

	.landing-work
		> div
			&:nth-of-type(1)
				width: 60%
				height: 350px

	.landing-form-wrapper
		input
			width: 85%

		button
			height: 45px
			width: 15%

@media screen and (min-width: 1400px)
	.landing-about
		padding-top: 250px
		padding-bottom: 200px

	.landing-about-columns
		display: flex
		flex-direction: row
		width: 90%

		> div
			display: flex
			flex: 1
			height: 150px

	.js_slide
		position: relative
		width: 25%
		height: 500px

	.landing-testimonials
		h3
			font-size: 45px
			letter-spacing: 9px
			margin-bottom: 65px
			text-shadow: 2px 1px rgba(0,0,0,0.3)

		> p
			font-size: 22px
			color: rgba(0,0,0,0.8)
			text-shadow: 1px 1px rgba(0,0,0,0.6)
			margin-bottom: 140px

	.testimonial-controlls
		padding-top: 90px
		padding-bottom: 30px

	.testimonial-image
		position: relative

		.testimonial-image-overlay
			position: absolute
			top: 105px
			left: -75px
			background: #666
			height: 0
			width: 250px
			padding: 30px 0
			opacity: 0
			transition: all .5s ease-out

			.landing-testimonial-button
				padding-top: 50px

			

		&:hover
			.testimonial-image-overlay
				height: 600px
				opacity: 1
				transition: all .5s ease

	.landing-latest-works
		display: block

	.landing-work
		display: flex
		flex-direction: row
		align-items: center
		width: 60%
		margin: 0 auto 60px auto 

		&.large-desktop
			display: flex
			flex-direction: row
			align-items: center
			width: 60%
			margin: 0 auto 60px auto

		> div
			display: inline-block

			&:nth-of-type(1)
				width: 30%
				overflow: hidden
				margin-bottom: 0
				margin-left: 25%
				margin-right: 5%
				height: 180px

			&:nth-of-type(2)
				flex-direction: column
				overflow: hidden
				padding-bottom: 50px
				width: 50%
				margin-right: 15%

				p
					text-align: left
					width: 70%

	.landing-latest-button
		display: flex
		width: 100%
		align-items: center
		justify-content: center
		padding-top: 65px
		padding-bottom: 50px

	.landing-form-wrapper
		width: 35%

		input
			width: 75%

		button
			width: 25%
			height: 44px
			padding-bottom: 0
			margin-bottom: -1px

