<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Golondrina Studio -- About Us</title>

		<link href="https://fonts.googleapis.com/css?family=Lato:300,400|Quattrocento+Sans:400,400i" rel="stylesheet">
		<link rel='stylesheet' href='./static/icons/style.css'>
		<link rel='stylesheet' href='./styles/main.min.css'>


	</head>

	<body>
		<% include ../shared/nav %>
		<% include ../shared/mobile-menu %>

		<div class='about-page-container'>
			<h1>About Golondrina</h1>

			<div class='about-page-content-wrapper'>
				<div class='about-page-content'>
					<div></div>

					<div>
						<p>This is going to be quite a bit of text about Golondrina Studios, where they came from, what their mission is, and how they plan to accomplish it. It might have a quote or something silly like that, or it might have a ton of other goodies that I haven't thought of yet. This is pretty much going to be the base design for all of the work that I have to do on this page that I really don't feel like doing. I hope I can make this look okay enough to not matter thaaaaat much. Getting tired and bored of making these pages, and I would like to get on with doing something else, pls.</p>
					</div>
				</div>
			</div>
		</div>

		<% include ../shared/footer %>
	</body>
</html>