<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Golondrina Studio</title>

		<link href="https://fonts.googleapis.com/css?family=Lato:300,400|Quattrocento+Sans:400,400i" rel="stylesheet">
		<link rel='stylesheet' href='./static/icons/style.css'>
		<link rel='stylesheet' href='./styles/main.min.css'>


	</head>

	<body>
		<% include ./views/shared/nav %>

		<% include ./views/shared/mobile-menu %>

		<div class='landing-page-content'>
			<div class='landing-header'>
				<div>
					<h1>Custom Art</h1>
					<p class='mobile-only'>From the heart of Texas</p>
					<p class='above-mobile-only'>
						Unique art created in the <span>heart</span> of Texas</p>

					<button class='landing-header-contact'>
						<span>Contact Us</span>
					</button>
				</div>
			</div>

			<div class='landing-about'>
				<div class='landing-about-columns'>
					<div data-entrance='fade'>
						<h3>
							<span class='icon-beaker'></span>
							Title
						</h3>
						<p>This is going to be some content like text about Golondrina Studio and why you should recruit their services blah blah blah blah</p>
					</div>

					<div data-entrance='fade'>
						<h3>
						<span class='icon-megaphone'></span>
						Title</h3>
						<p>This is goin to be something else about Golondrina. These will make people want to hire us</p>
					</div>

					<div data-entrance='fade'>
						<h3>
						<span class='icon-genius'></span>
						Title</h3>
						<p>A last and final thing about golondrina and why you should use their cool as balls stuff</p>
					</div>
				</div>
			</div>


			<div class='landing-testimonials'>
				<h3>Testimonials</h3>
				<p>See why people choose GOlondeerrrnerr</p>

				<div class='landing-testimonial-display'>
					<div class='testimonial-mobile js_slider'>
						<div class='frame js_frame'>
							<div class='slides js_slides'>
								<div class='js_slide'>
									<div></div>

									<p>Wow, it is amazing that I never hired GOlondrina Studio's before. They were excellent in doing stuff, stuff, and then even more stuff for me when I needed it most, lawl.</p>

									<div class='landing-testimonial-button'>
										<button>
											<span>See The Work</span>
										</button>
									</div>
								</div>

								<div class='js_slide'>
									<div></div>

									<p>Wow it ajfhkasdhfkjsdaf akjsdhfksadhf asdkfjahsdkfh adkjfhaskdhf kahsdkjfhasdf kajsdhfkjasdhf asdkjfhskjdhf asdkjfhaksjdhf kajsdhfkjhsad faskjfhkjsdahf asdkjfhaskdjhf asdkjfhksdhf</p>

									<div class='landing-testimonial-button'>
										<button>
											<span>See The Work</span>
										</button>
									</div>
								</div>
							</div>
						</div>

						<p class='below-desktop'>Use the controls or swipe to see the next slides</p>
						<button type='button' class='js_next landing-next-button'>Next</button>
						<button type='button' class='js_prev landing-prev-button'>Prev</button>
					</div>
				</div>
			</div>

			<div class='landing-latest-works'>
				<div class='landing-work' data-entrance='fade'>
					<div></div>
					<h3>Work for from <span>This Place</span></h3>
					<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
				</div>

				<div class='landing-work' data-entrance='fade'>
					<div></div>
					<h3>Work for from <span>This Place</span></h3>
					<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
				</div>

				<div class='landing-work' data-entrance='fade'>
					<div></div>
					<h3>Work for from <span>This Place</span></h3>
					<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
				</div>

				<div class='landing-latest-button'>
					<button>
						<span>See More</span>
					</button>
				</div>
			</div>

			<div class='landing-newsletter'>
				<div class='landing-newsletter-overlay'></div>
				<h3>Signup to get the latest</h3>

				<div class='landing-newsletter-input'>
					<div class='landing-form-wrapper' id='landing-form-wrapper'>
						<label for="email">
							<span class='icon-envelope'></span>
							Email
						</label>
						<input type='email' name='email' id='landing-email' required>
						<button>
							<span>Start!</span>
						</button>
					</div>
				</div>
			</div>


			<% include ./views/shared/footer %>

		<script src='./lory.js/dist/lory.js'></script>
		<script src='./bundle.js'></script>
	</body>
</html>