<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name='description' content="The Portfolio home page of artist Erika Tolbert and Golondrina Studio. A local art studio founded by Erika Tolbert to provide unique paintings, murals, and windows to the Denton community">
		<meta name='keywords' content='Arist, Erika, Tolbert, Denton, Texas, Art, Murals, Windows, Paintings, Photography, Seasonal, Day of the Dead, Holidays'>
		
		<title>Golondrina Studio</title>
		<link href="https://fonts.googleapis.com/css?family=Lato:300|Open+Sans:300|400|Cinzel" rel="stylesheet">

		<style>
			.flickity-page-dots {
				bottom: 10px;
				z-index: 30;
			}

			.flickity-page-dots .dot {
				border: 2px solid #fff;
			}

			.flickity-page-dots .dot.is-selected {
				background: #fff;
			}

			.landing-carousel {
				position: relative;
			}

			.carousel-gallery-link {
				display: flex;
				justify-content: center;
				position: absolute;
				left: 0;
				bottom: 0;
				height: 130px;
				width: 100%;
				background: rgba(0,0,0,0.3);
				z-index: 30;
			}

			.carousel-gallery-link a {
				margin-top: 30px;
			}

			.carousel-gallery-link button {
				height: 45px;
				width: 160px;
				border: 1px solid #fff;
			}

			.carousel-gallery-link button span {
				font-family: 'Open Sans';
				font-weight: 400;
				letter-spacing: 2px;
				font-size: 18px;
				color: #fff;
				transition: all .4s ease;
			}

			.landing-cell {
				width: 100%;
				height: 380px;
			}

			.landing-cell img {
				height: 100%;
				width: 100%;
			}

			@media screen and (min-width: 800px) {
				.landing-cell {
					height: 450px;
				}
			}

			@media screen and (min-width: 1000px) {
				.carousel-gallery-link {
					height: 150px;
				}

				.carousel-gallery-link button {
					height: 55px;
					width: 180px;
				}

				.carousel-gallery-link button span {
					font-size: 19px;
					letter-spacing: 3px;
				}

				.landing-cell {
					height: 500px;
				}
			}

			@media screen and (min-width: 1200px) {
				.landing-cell {
					height: 540px;
				}
			}

			@media screen and (min-width: 1400px) {
				.landing-cell {
					height: 580px;
				}
			}

			@media screen and (min-width: 1600px) {
				.landing-cell {
					height: 620px;
				}
			}

			@media screen and (min-width: 1800px) {
				.landing-cell {
					height: 660px;
				}

				.carousel-gallery-link {
					height: 180px;
				}

				.carousel-gallery-link a {
					margin-top: 40px;
				}

				.carousel-gallery-link button {
					height: 60px;
					width: 250px;
				}

				.carousel-gallery-link button span {
					font-size: 20px;
				}
			}

			@media screen and (min-width: 2560px) {

				.landing-cell {
					height: 850px;
				}
			}

			@media screen and (min-width: 3400px) {
				.landing-cell {
					height: 1000px;
				}

				.carousel-gallery-link {
					height: 230px;
				}

				.carousel-gallery-link a {
					margin-top: 50px;
				}

				.carousel-gallery-link button {
					height: 65px;
					width: 270px;
				}

				.carousel-gallery-link span {
					font-size: 23px;
					letter-spacing: 5px;
				}
			}
		</style>
		
		<link rel='stylesheet' href='./static/icons/style.css'>
		<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
		<link rel='stylesheet' href='./styles/main.min.css'>


	</head>

	<body class='home-body'>

		<% include ./views/shared/preloader %>
		<% include ./views/shared/nav %>
		<% include ./views/shared/mobile-menu %>

		<main class='landing-page-content'>
			<header class='landing-header'>

				<div class='landing-carousel'>
					<div class='carousel-gallery-link'>
						<a href='/gallery'>
							<button type='button' aria-label='go to gallery'>
								<span>See All</span>
							</button>
						</a>
					</div>

					<figure class='landing-cell'>
						<img src='http://ddtnccrpo7cm5.cloudfront.net/Images/Murals/Mural12-min.jpg'  alt='Backyard On Bell Christmas'>
					</figure>

					<figure class='landing-cell'>
						<img src='http://ddtnccrpo7cm5.cloudfront.net/Images/Windows/Window_DarkAge_Christmas-min.jpg' alt='Dark Age Christmas'>
					</figure>

					<figure class='landing-cell'>
						<img src='http://ddtnccrpo7cm5.cloudfront.net/Images/Murals/Mural08-min.jpg' alt='Eastside Christmas 2016'>
					</figure>

					<figure class='landing-cell'>
						<img src='http://ddtnccrpo7cm5.cloudfront.net/Images/Windows/Window_Eastside_Dod2016-min.jpg' alt='Eastside Day of the Dead 2016'>
					</figure>

					<figure class='landing-cell'>
						<img src='http://ddtnccrpo7cm5.cloudfront.net/Images/Murals/Mural09-min.jpg' alt='Eastside Newyears'>
					</figure>

					<figure class='landing-cell'>
						<img src='http://ddtnccrpo7cm5.cloudfront.net/Images/Windows/Window_GameChangers_Christmas-min.jpg' alt='Denton Arts Council -- Jason Lee Birthday'>
					</figure>

					<figure class='landing-cell'>
						<img src='http://ddtnccrpo7cm5.cloudfront.net/Images/Windows/Window_GDAC_Winter-min.jpg' alt='Denton Arts Council Winter'>
					</figure>
				</div>

			</header>

			<section class='landing-about'>
				<div class='landing-about-text'>
					<blockquote>When I founded Golondrina Studio I never fathomed it would grow into what it is today. What originally started as a way for me to share one of my greatest passions has blossomed into something that allows me to channel my art directly into the community. Coming from humble beginings to seeing my art adorning my city has been an amazing journey. I didn't, and still don't, have any grandious goals for my work, but watching the community's artistic culture thrive as more artists like myself set out with similar goals makes me strive with impunity to grow larger
					</blockquote>
				</div>

				<div class='landing-about-quoted'>
					<div>
						<cite>Erika Tolbert</cite>
						<p>Founder of Golondrina</p>
					</div>

					<img src='./static/images/erika.jpg'>
				</div>
			</section>

			<% include ./views/landing/contact %>
		</main>


		<!-- <div class='preloader'>
			<div class='loading'></div>
			<div class='loading-section section-left'></div>
			<div class='loading-section section-right'></div>
		</div>


		</main> -->
		<% include ./views/shared/footer %>

		<% include ./views/contact/contact-notifications %>

		<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
		<script src='./scripts/bundle.min.js'></script>
	</body>
</html>