.footer
	position: relative
	display: flex
	flex-direction: column
	height: 70px
	padding-bottom: 20px
	z-index: 100

	p
		@include lato()
		font-weight: 400
		font-size: 18px
		line-height: 22px
		letter-spacing: 1px
		color: #fff
		text-align: center
		padding-top: 26px

	&.landing-footer
		margin-top: -170px

	&.normal-footer
		margin-top: 0
		background: #1c907f
		background: rgb(50, 240, 181)

		p
			color: rgba(0,0,0,0.6)

		.footer-button
			a
				color: rgba(0,0,0,0.6)

				> div
					box-shadow: 0 0 0 3px #ddd

				button
					span
						display: inline-block
						transition: transform .4s ease-out

				&:hover
					> div
						box-shadow: 0 0 0 6px #eee

					button
						span
							transform: scale(1.1,1.1)
.footer-brand
	&.desktop-footer
		display: none

	&.mobile-footer
		display: flex
		align-items: center
		justify-content: center
		width: 100%
		padding-top: 35px
		padding-bottom: 30px

.footer-social-buttons
	display: flex
	flex-direction: row
	align-items: center
	width: 45%
	padding: 80px 0 20px 0
	margin: 0 auto

.footer-button
	display: flex
	flex: 1
	align-items: center
	justify-content: center

	a
		display: flex
		align-items: center
		justify-content: center
		color: rgba(0,0,0,0.4)
		margin-right: 20px

		> div
			display: flex
			align-items: center
			justify-content: center
			height: 45px
			width: 45px
			box-shadow: 0 0 0 3px #eee
			border-radius: 50%
			transition: all .4s ease

			span
				position: relative
				display: inline-block
				@include open()
				font-weight: 300
				letter-spacing: 1px
				color: rgba(0,0,0,0.4)
				font-size: 18px
				transition: transform .4s ease-out

		&:hover
			> div
				box-shadow: 0 0 0 6px #eee

				span
					transform: scale(1.1,1.1)

	&.above-tablet
		display: none

@media screen and (min-width: 1000px)
	.footer
		flex-direction: initial
		align-items: stretch
		padding-top: 30px

		p
			padding-top: 0

	.footer-brand
		display: flex
		flex: 1
		flex-basis: 0
		align-items: center
		justify-content: flex-start
		padding-left: 30px

		> div
			display: flex
			align-items: center
			justify-content: center

		&.mobile-footer
			display: none

		&.desktop-footer
			display: flex
		
	.footer-social-buttons
		flex: 1
		flex-basis: 0
		flex-direction: initial
		align-items: center
		justify-content: flex-end
		padding: 0
		padding-right: 30px

	.footer-button
		display: flex
		flex: initial
		align-items: center
		justify-content: center
		margin-right: 15px

		&.above-tablet
			display: flex

@media screen and (min-width: 1271px)
	.footer
		flex-direction: initial
		align-items: stretch

	.footer-brand
		display: flex
		flex: 1
		flex-basis: 0
		align-items: center
		justify-content: flex-start
		padding-left: 30px

		> div
			display: flex
			align-items: center
			justify-content: center

	.footer-social-buttons
		flex: 1
		flex-basis: 0
		flex-direction: initial
		align-items: center
		justify-content: flex-end
		padding: 0
		padding-right: 30px

	.footer-button
		display: flex
		flex: initial
		align-items: center
		justify-content: center
		margin-right: 25px

		&.above-tablet
			> a
				display: flex
				align-items: center
				justify-content: center

				button
					height: 40px
					width: 95px
					border: none
					transition: all .4s ease-out

					span
						@include lato()
						font-weight: 400
						font-size: 18px
						letter-spacing: 1px
						color: #3f4c5b
						transition: color .4s ease-out, transform .4s ease-out

				&:hover
					button
						//background: darken(#1f2439, 5%)
						background: rgba(0,0,0,0.6)

						span
							color: #f1f3f3
