.mobile-menu-container
	position: fixed
	top: 0
	left: 0
	height: 100%
	width: 100%
	overflow: hidden
	pointer-events: none
	z-index: 30

.mobile-menu
	display: flex
	flex-direction: column
	align-items: center
	position: relative
	height: 100%
	width: 100%
	padding-top: 65px
	opacity: 0
	pointer-events: none
	z-index: 40
	background: #1f2439
	transition: all .4s ease-out

.mobile-menu-container--open
	.mobile-menu
		opacity: 1
		pointer-events: auto

	&.mobile-menu-container--animatable
		.mobile-menu
			transition: all .4s ease-out

.mobile-menu-container--animatable
	.mobile-menu
		transition: all .4s ease-out

