.js-tab
	position: relative

.tab-item[data-tab-active]
	z-index: 100
	background: #fff

	.tab-link
		background: #fff
		box-shadow: -1px 0 0 #fff
		color: darken(#0AB6A2, 10%)

		&:after
			position: absolute
			top: calc(100% + 15px)
			left: 50%
			content: ''
			margin-left: -10px
			width: 0
			height: 0
			border: solid transparent
			border-width: 10px
			border-top-color: #fff
			pointer-events: none

.tab-list
	position: relative
	display: flex
	flex-flow: row wrap
	justify-content: center
	margin: 0 auto
	padding: 0
	list-style: none

.tab-item
	position: relative
	display: block
	flex: 1
	margin: 0
	text-align: center
	z-index: 1
	background: #e7ecea
	transition: all .4s ease-out

	&:first-child::before
		right: auto
		left: 0

	&:after
		position: absolute
		top: 20%
		right: 0
		content: ''
		width: 1px
		height: 60%
		z-index: -1
		background: rgba(0,0,0,0.07)

	&:hover
		.tab-name
			opacity: 1
			transform: translateY(-20px)

.tab-link
	position: relative
	display: block
	text-overflow: ellipsis
	white-spcae: no-wrap
	overflow: visible
	margin-top: 15px
	padding: 2em 0
	font-size: 27px
	line-height: 1
	transition: all .4s ease-out
	text-decoration: none
	outline: none
	color: #74777b

.tab-name
	opacity: 0
	pointer-events: none
	transform: translateY(30px)
	transition: all .4s ease
	@include open()
	font-weight: normal
	font-size: 16px
	letter-spacing: 2px
	color: #74777b



.tab-panel
	background: #f0f0f0
	padding: 50px 0 30px 30px

	h2
		@include cin()
		font-weight: 400
		letter-spacing: 2px
		font-size: 30px
		color: rgba(0,0,0,0.5)

	&.construction-tab
		padding-bottom: 300px


.tab-panel[aria-hidden="true"]
	display: none