<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name='description' content="The Portfolio home page of artist Erika Tolbert and Golondrina Studio. A local art studio founded by Erika Tolbert to provide unique paintings, murals, and windows to the Denton community">
		<meta name='keywords' content='Arist, Erika, Tolbert, Denton, Texas, Art, Murals, Windows, Paintings, Photography, Seasonal, Day of the Dead, Holidays'>
		
		<title>Golondrina Studio</title>
		<link href="https://fonts.googleapis.com/css?family=Lato:300|Open+Sans:300|400|Cinzel" rel="stylesheet">
		<link rel='stylesheet' href='./styles/main.min.css'>
	</head>

	<body>
		<% include ../shared/nav %>
		<% include ../shared/mobile-menu %>

		<main class='mural-page'>
			<header>
				<h1>Murals are an investment for your living space</h1>
			</header>

			<section class='mural-about'>
				<p>Murals add value to your home or business by turning an otherwise ordinary space into something personal and fun. You can transform a drab room into a lively conversation piece, build relationships through a shared love of the content, give the illusion of depth andsize to smaller, closed off spaces; or turn a child's room into a magical place for them to grow and develop</p>
			</section>

			<section class='mural-process'>
				<p>Every Mural is Hand Painted and Customized to Accomodate YOUR Personal Vision</p>

				<p>The process begins by defining a clear idea 
				</p>
			</section>
		</main>
	</body>
</html>