<footer class='footer'>
	<div class='footer-brand'>
		<div>
			<p>&copy; 2016 Golondrina Studios</p>
		</div>
	</div>

	<div class='footer-social-buttons'>
		<div class='footer-button above-tablet-only'>
			<a href='/contact'>
				<button>
					<span>Contact</span>
				</button>
			</a>
		</div>

		<div class='footer-button above-tablet-only'>
			<a href='/about'>
				<button>
					<span>About</span>
				</button>
			</a>
		</div>
		<div class='footer-button'>
			<a href='/'>
				<div>
					<span class='icon-google'></span>
				</div>
			</a>
		</div>

		<div class='footer-button'>
			<a href='/'>
				<div>
					<span class='icon-facebook'></span>
				</div>
			</a>
		</div>

		<div class='footer-button'>
			<a href='/'>
				<div>
					<span class='etsy'>E</span>
				</div>
			</a>
		</div>
	</div>
</footer>