<footer class='footer' id='footer'>
	<div class='footer-brand desktop-footer'>
		<div>
			<p>&copy; 2016 Golondrina Studios</p>
		</div>
	</div>
	<div class='footer-social-buttons'>
		<div class='footer-button above-tablet'>
			<a href='/contact'>
				<button>
					<span>Contact</span>
				</button>
			</a>
		</div>



		<div class='footer-button'>
			<a href='https://www.facebook.com/erika.s.tobert'>
				<div>
					<span class='icon-facebook'></span>
				</div>
			</a>
		</div>

		<div class='footer-button'>
			<a href='/'>
				<div>
					<span class='icon-instagram'></span>
				</div>
			</a>
		</div>
	</div>

	<div class='footer-brand mobile-footer'>
		<div>
			<p>&copy; 2016 Golondrina Studios</p>
		</div>
	</div>
</footer>