<div id='mobile-menu-container' class='mobile-menu-container'>
	<div id='mobile-menu' class='mobile-menu'>
		<div class='mobile-menu-links'>
			<div class='mobile-menu-link'>
				<div>
					<span class='icon-paintbrush'></span>
				</div>

				<h3>Canvas</h3>
			</div>

			<div class='mobile-menu-link'>
				<div>
					<span class='icon-camera'></span>
				</div>

				<h3>Digital</h3>
			</div>

			<div class='mobile-menu-link'>
				<div>
					<span class='icon-lightbulb'></span>
				</div>

				<h3>Residential</h3>
			</div>

			<div class='mobile-menu-link'>
				<div>
					<span class='icon-format_paint'></span>
				</div>

				<h3>Windows</h3>
			</div>

			<div class='mobile-menu-link'>
				<div>
					<span class='icon-calendar'></span>
				</div>

				<h3>About</h3>
			</div>

			<div class='mobile-menu-link'>
				<div>
					<span class='icon-pencil'></span>
				</div>

				<h3>Contact</h3>
			</div>
		</div>
	</div>
</div>