<div id='mobile-menu-container' class='mobile-menu-container'>
	<div id='mobile-menu' class='mobile-menu'>
		<div class='mobile-menu-links'>
			<div class='mobile-menu-link'>
				<a href='/porfolio/canvas'>
					<div>
						<span class='icon-paintbrush'></span>
					</div>

					<h3>Canvas</h3>
				</a>
			</div>

			<div class='mobile-menu-link'>
				<a href='/portfolio/digital'>
					<div>
						<span class='icon-camera'></span>
					</div>

					<h3>Digital</h3>
				</a>
			</div>

			<div class='mobile-menu-link'>
				<a href='/portfolio/residential'>
					<div>
						<span class='icon-lightbulb'></span>
					</div>

					<h3>Residential</h3>
				</a>
			</div>

			<div class='mobile-menu-link'>
				<a href='/portfolio/windows'>
					<div>
						<span class='icon-format_paint'></span>
					</div>

					<h3>Windows</h3>
				</a>
			</div>

			<div class='mobile-menu-link'>
				<a href='/about'>
					<div>
						<span class='icon-calendar'></span>
					</div>

					<h3>About</h3>
				</a>
			</div>

			<div class='mobile-menu-link'>
				<a href='/contact'>
					<div>
						<span class='icon-pencil'></span>
					</div>

					<h3>Contact</h3>
				</a>
			</div>
		</div>
	</div>
</div>