<div id='mobile-menu-container' class='mobile-menu-container'>
	<div id='mobile-menu' class='mobile-menu'>
		<div class='mobile-menu-links'>
			<div class='mobile-menu-link'>
				<a href='/'>
					<div>
						<span class='icon-home'></span>
					</div>

					<h3>Home</h3>
				</a>
			</div>

			<div class='mobile-menu-link'>
				<a href='/gallery'>
					<div>
						<span class='icon-paintbrush'></span>
					</div>

					<h3>Gallery</h3>
				</a>
			</div>

			<div class='mobile-menu-link'>
				<a href='/contact'>
					<div>
						<span class='icon-mail_outline'></span>
					</div>

					<h3>Contact</h3>
				</a>
			</div>
		</div>
	</div>
</div>
