<nav id='nav' class='nav'>
	<div class='nav-left'>
		<div class='nav-item'>
			<img src='./images/WhiteLogo.png'>
		</div>
	</div>

	<div class='nav-right'>
		<div class='nav-item below-tablet'>
			<div class='nav-icon' id='nav-trigger'>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>

		<div class='nav-item above-tablet-only'>
			<a href='/' class='nav-link'>
				<button>
					<span>Home</span>
				</button>
			</a>
		</div>

		<div class='nav-item above-tablet-only'>
			<a href='/gallery' class='nav-link'>
				<button>
					<span>Gallery</span>
				</button>
			</a>
		</div>

		<div class='nav-item above-tablet-only'>
			<a href='/contact' class='nav-link'>
				<button>
					<span>Contact</span>
				</button>
			</a>
		</div>
	</div>
</nav>