<nav id='nav' class='nav'>
	<div class='nav-left'>
		<div class='nav-item'>
			<img src='./static/images/logo.png'>
		</div>
	</div>

	<div class='nav-right'>
		<div class='nav-item below-tablet'>
			<div class='nav-icon' id='nav-trigger'>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>

		<div class='nav-item above-tablet-only'>
			<a href='/portfolio'>
				<button>
					<span>Portfolio</span>
				</button>
			</a>
		</div>

		<div class='nav-item above-tablet-only'>
			<button>
				<span>Media</span>
			</button>
		</div>

		<div class='nav-item above-tablet-only'>
			<button>
				<span>About us</span>
			</button>
		</div>

		<div class='nav-item above-tablet-only'>
			<a href='/contact'>
				<button>
					<span>Contact</span>
				</button>
			</a>
		</div>
	</div>
</nav>
