@media screen and (max-width: 629px)
	.mobile-only
		display: inline-block

	.above-mobile-only
		display: none

	.above-tablet-only
		display: none

	.large-desktop
		display: none


	.below-desktop
		display: inline-block

@media screen and (min-width: 630px)
	.mobile-only
		display: none

	.above-mobile-only
		display: inline-block

	.above-tablet-only
		display: none

	.large-desktop
		display: none


	.below-desktop
		display: inline-block