.landing-about
	display: flex
	flex-direction: column
	padding: 30px 0 50px 0
	background: #fff

.landing-about-text
	position: relative
	width: 60%
	margin: 0 auto
	padding-top: 15px
	padding-bottom: 20px

	blockquote
		position: relative
		@include lato()
		font-weight: 400
		letter-spacing: 2px
		font-size: 16px
		line-height: 22px
		padding-top: 8px
		color: #575757
		padding-left: 16px

		&:before
			display: block
			padding-left: 10px
			content: "\201C"
			font-size: 60px
			color: darken(#575757, 15%)
			position: absolute
			left: -20px
			top: 20px



.landing-about-quoted
	display: flex
	align-items: center
	justify-content: flex-end
	width: 65%
	margin: 0 auto
	z-index: 30

	> div
		&:nth-of-type(1)
			display: flex
			flex-direction: column
			text-align: right
			flex: 1
			margin-right: 15px

			cite
				@include lato()
				font-weight: 400
				letter-spacing: 2px
				font-size: 17px
				line-height: 21px
				color: rgba(0,0,0,0.6)

				&:before
					content: "\2014 \2009"

			> p
				@include lato()
				font-weight: 300
				letter-spacing: 1px
				font-size: 16px
				line-height: 21px
				color: #c2c3c4

	img
		height: 60px
		width: 60px
		border-radius: 50%

.landing-business
	display: flex
	align-items: center
	justify-content: space-around
	height: 80px
	padding: 10px 0
	background: #ccc

	> div
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		flex: 1
		height: 60px
		z-index: 30
		color: #ccc
		@include open()
		font-weight: 400
		letter-spacing: 2px
		background: rgba(0,0,0,0.23)

	> .business-above-mobile
		display: none

	> .business-desktop
		display: none


.landing-newsletter
	position: relative
	display: flex
	flex-direction: column
	align-items: center
	padding-top: 130px
	padding-bottom: 160px
	margin-top: -90px
	background: #0AB6A2

	h3
		@include lato()
		font-weight: 300
		letter-spacing: 2px
		font-size: 24px
		color: #fff

.landing-newsletter-input
	width: 80%
	margin: 0 auto
	padding-top: 55px

.landing-form-wrapper
	position: relative
	display: flex
	width: 100%

	&.form-wrapper
		label
			top: 13px
			left: 19px
			color: #575757

			span
				color: #575757

		input
			height: 40px
			background: #fff

			&:focus
				height: 42px
				border-width: 1px
				border-color: #fff

				& + label
					color: #fff

					span
						color: #fff

		&.email-invalid
			input
				height: 42px
				border-width: 1px
				color: #b60a1e
	input
		display: flex
		flex: 1
		border: 1px solid rgba(0,0,0,0.23)
		border-right: 0
		background: rgba(0,0,0,0.3)
		padding: 0
		padding-left: 7px
		@include lato()
		font-weight: 400
		border-top-left-radius: 23px
		border-bottom-left-radius: 23px
		border-right: none
		border-color: rgba(0,0,0,0.23)
		outline: none


	button
		height: 44px
		width: 120px
		border: none
		border-top-right-radius: 23px
		border-bottom-right-radius: 23px
		background: rgba(0,0,0,0.4)
		transition: all .4s ease-out

		span
			@include lato()
			font-weight: 400
			letter-spacing: 1px
			font-size: 16px
			color: #fff

		&:hover
			background: rgba(0,0,0,0.2)

@media screen and (min-width: 768px)
	.landing-business
		.business-above-mobile
			display: flex

@media screen and (min-width: 1200px)
	.landing-about-text
		width: 50%

	.landing-about-quoted
		width: 55%


@media screen and (min-width: 1400px)
	.landing-about-text
		width: 45%

	.landing-about-quoted
		width: 50%

	.landing-newsletter-input
		width: 50%

	.landing-form-wrapper

		button
			width: 180px

	.landing-business
		> .business-desktop
			display: flex

@media screen and (min-width: 1650px)
	.landing-about
		padding-top: 53px

	.landing-form-wrapper

		button
			width: 230px

	.landing-newsletter
		padding-bottom: 160px

		h3
			padding-bottom: 35px

	.landing-newsletter-input
		width: 45%