.landing-about
	display: flex
	flex-direction: column
	padding: 75px 0 50px 0
	background: #fff

.landing-about-text
	position: relative
	width: 70%
	margin: 0 auto
	padding-top: 15px
	padding-bottom: 20px

	blockquote
		position: relative
		@include open()
		font-weight: normal
		letter-spacing: 2px
		font-size: 16px
		line-height: 22px
		padding-top: 8px
		color: #757575
		padding-left: 16px

		&:before
			display: block
			padding-left: 10px
			content: "\201C"
			font-size: 60px
			color: darken(#c2c3c4, 10%)
			position: absolute
			left: -20px
			top: 20px



.landing-about-quoted
	display: flex
	align-items: center
	justify-content: flex-end
	width: 65%
	margin: 0 auto
	z-index: 30

	> div
		display: flex
		flex-direction: column
		text-align: right
		flex: 1
		margin-right: 15px

		cite
			@include lato()
			font-weight: 400
			letter-spacing: 2px
			font-size: 17px
			line-height: 21px
			color: rgba(0,0,0,0.6)

			&:before
				content: "\2014 \2009"

		> p
			@include lato()
			font-weight: 300
			letter-spacing: 1px
			font-size: 16px
			line-height: 21px
			color: darken(#c2c3c4, 10%)

	img
		height: 60px
		width: 60px
		border-radius: 50%


@media screen and (min-width: 800px)
	.landing-about
		padding-top: 145px

	.landing-about-text
		blockquote
			font-size: 17px
			line-height: 28px

	.landing-about-quoted
		> div
			cite
				font-size: 18px
				line-height: 28px

			p
				font-size: 17px


@media screen and (min-width: 1200px)
	.landing-about
		padding-top: 165px

	.landing-about-text
		width: 60%

		blockquote
			font-size: 18px
			line-height: 32px

	.landing-about-quoted
		width: 55%

		> div
			cite
				font-size: 20px
				line-height: 33px

			p
				font-size: 18px

		img
			height: 80px
			width: 80px


@media screen and (min-width: 1600px)
	.landing-about-text
		padding-bottom: 45px

		blockquote
			font-size: 20px
			line-height: 38px

	.landing-about-quoted
		> div
			cite
				font-size: 22px
				line-height: 38px

			p
				font-size: 20px

@media screen and (min-width: 2560px)
	.landing-about
		padding-top: 255px

	.landing-about-text
		width: 50%
		padding-bottom: 65px

		blockquote
			font-size: 24px
			line-height: 45px

	.landing-about-quoted
		width: 45%

		> div
			cite
				font-size: 24px
				line-height: 48px

			p
				font-size: 22px

@media screen and (min-width: 3400px)
	.landing-about-text
		width: 40%
		padding-bottom: 90px

		blockquote
			font-size: 26px
			line-height: 54px

	.landing-about-quoted
		width: 35%

		> div
			cite
				font-size: 26px
				line-height: 70px

			p
				font-size: 24px

		img
			height: 95px
			width: 95px