
@import "about"
@import "contact"

#newsletter-success
	display: none

#newsletter-failure
	display: none

#newsletter-error
	display: none
	
#contact-dialog
	display: none

#landing-success
	display: none

#landing-failure
	display: none

#landing-error
	display: none

.flickity-page-dots
	bottom: 10px
	z-index: 30

	.dot
		border: 2px solid #fff

		&.is-selected
			background: #fff

