.landing-mission
	display: flex
	flex-direction: column
	align-items: center
	padding-top: 100px
	padding-bottom: 50px
	width: 90%
	margin: 0 auto

.landing-mission-columns
	display: flex
	flex-direction: column
	align-items: center
	width: 85%
	margin: 0 auto

	> .mission-decorator-top,
	> .mission-diamond
		margin-bottom: 0

	> div
		display: flex
		flex-direction: column
		align-items: center
		margin-bottom: 40px

		h3
			@include lato()
			font-weight: 400
			font-size: 22px
			letter-spacing: 1px
			margin-bottom: 18px
			line-height: 28px
			text-transform: uppercase
			text-align: center
			color:#4b4d4f

			span
				display: inline-block
				margin-right: 8px
				font-size: 22px
				color: #53d4e9

		p
			@include open()
			font-weight: 300
			font-size: 18px
			line-height: 25px
			letter-spacing: 1px
			margin-left: 14px
			text-align: center
			color: #88909a

.mission-decorator-top,
.mission-decorator-bottom
	height: 75px
	width: 1px
	background-image: linear-gradient(#d6d9d8 33%, rgba(225, 225, 225, 0) 0%)
	background-position: right
	background-size: 3px 5px 
	background-repeat: repeat-y

.mission-diamond
	position: relative
	top: -20px
	width: 0
	height: 0
	border: 20px solid transparent
	border-bottom-color: #9ce1de

	&:after
		content: ''
		position: absolute
		top: 20px
		left: -20px
		width: 0
		height: 0
		border: 20px solid transparent
		border-top-color: #9ce1de

@media screen and (min-width: 1200px)
	.landing-mission
		padding-top: 90px
		padding-bottom: 10px

	.landing-mission-columns
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-around

		> div
			width: 40%

			&.mission-decorator-top,
			&.mission-decorator-bottom
				width: 7%
				height: 1px
				margin-bottom: 0
				background-image: linear-gradient(to right, #d6d9d8 33%, rgba(225, 225, 225, 0) 0%)
				background-position: bottom
				background-size: 5px 3px
				background-repeat: repeat-x

				&.second
					display: none

			&.mission-diamond
				width: 0
				height: 0

				&.second
					display: none

	.landing-mission-last
		margin-top: 60px

