<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Golondrina Studio -- Portfolio</title>

		<link href="https://fonts.googleapis.com/css?family=Lato:300,400|Quattrocento+Sans:400,400i" rel="stylesheet">
		<link rel='stylesheet' href='./static/icons/style.css'>
		<link rel='stylesheet' href='./styles/main.min.css'>
	</head>

	<body>
		<% include ../../shared/nav %>
		<% include ../../shared/mobile-menu %>

		<div class='portfolio-page-container'>
			<h1>The Works of Golondrina</h1>
			<p>Here you will find all of the work that we have done over the past few years organized by category. When looking, keep and eye out. You might just find something that looks familiar to you</p>

			<div class='portfolio-categories'>
				<div class='portfolio-category'>
					<a href='/portfolio/canvas'>
						<div></div>

						<p>Canvas</p>
					</a>
				</div>

				<div class='portfolio-category'>
					<div></div>

					<p>Commercial</p>
				</div>

				<div class='portfolio-category'>
					<div></div>

					<p>Digital</p>
				</div>

				<div class='portfolio-category'>
					<div></div>

					<p>Residential</p>
				</div>
			</div>
		</div>

		<% include ../../shared/footer %>

		<script src='./bundle.js'></script>
	</body>
</html>