<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Golondrina Studio -- Residential Art</title>

		<link rel='stylesheet' href='../baguettebox.js/dist/baguetteBox.css'>
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400|Quattrocento+Sans:400,400i" rel="stylesheet">
		<link rel='stylesheet' href='../static/icons/style.css'>
		<link rel='stylesheet' href='../styles/main.min.css'>
	</head>

	<body>
		<% include ../../shared/nested-nav %>
		<% include ../../shared/mobile-menu %>

		<div class='portfolio-other-page-container'>
			<h1>Residential Art</h1>

			<div class='portfolio-other-art-container gallery4'>
				<a href='../../static/images/keyboard.jpg'>
					<img src='../static/images/keyboard.jpg' alt='first-image'>
				</a>

				<a href='../../static/images/keyboard.jpg'>
					<img src='../static/images/keyboard.jpg' alt='second-imae'>
				</a>

				<a href='../../static/images/keyboard.jpg'>
					<img src='../static/images/keyboard.jpg'>
				</a>

				<a href='../../static/images/keyboard.jpg'>
					<img src='../static/images/keyboard.jpg'>
				</a>

				<a href='../../static/images/keyboard.jpg'>
					<img src='../static/images/keyboard.jpg'>
				</a>

				<a href='../../static/images/keyboard.jpg'>
					<img src='../static/images/keyboard.jpg'>
				</a>

				<a href='../../static/images/keyboard.jpg'>
					<img src='../static/images/keyboard.jpg' alt='first-image'>
				</a>

				<a href='../../static/images/keyboard.jpg'>
					<img src='../static/images/keyboard.jpg' alt='second-imae'>
				</a>

				<a href='../../static/images/keyboard.jpg'>
					<img src='../static/images/keyboard.jpg'>
				</a>

				<a href='../../static/images/keyboard.jpg'>
					<img src='../static/images/keyboard.jpg'>
				</a>

				<a href='../../static/images/keyboard.jpg'>
					<img src='../static/images/keyboard.jpg'>
				</a>

				<a href='../../static/images/keyboard.jpg'>
					<img src='../static/images/keyboard.jpg'>
				</a>
			</div>
		</div>

		<% include ../../shared/footer %>

		<script src='../baguettebox.js/dist/baguetteBox.js'></script>
		<script src='../bundle.js'></script>
	</body>
</html>