<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Golondrina Studio</title>
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400i|Open+Sans:300,300i,400,700" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.css">
		<link rel='stylesheet' href='./static/icons/style.css'>
		<link rel='stylesheet' href='./styles/main.min.css'>
		<link rel='stylesheet' href='../baguettebox.js/dist/baguetteBox.css'>


	</head>

	<body>
		<% include ../shared/nav %>
		<% include ../shared/mobile-menu %>

		<div class='gallery-page'>
			<div class='gallery-body'>
				<div class='js-tab'>
					<ul class='tab-list'>
						<li class='tab-item'>
							<a class='tab-link icon-paintbrush' href='#tab-1'><span></span></a>
						</li>

						<li class='tab-item'>
							<a class='tab-link icon-lightbulb' href='#tab-2'><span></span></a>
						</li>

						<li class='tab-item'>
							<a class='tab-link icon-camera' href='#tab-3'><span></span></a>
						</li>

						<li class='tab-item'>
							<a class='tab-link icon-pencil' href='#tab-4'><span></span></a>
						</li>

						<li class='tab-item'>
							<a class='tab-link icon-beaker' href='#tab-5'><span></span></a>
						</li>

						<li class='tab-item'>
							<a class='tab-link icon-genius' href='#tab-6'><span></span></a>
						</li>
					</ul>

					<section id='tab-1' class='tab-panel'>
						<div class='tab-panel-header'>
							<h2>Businesses</h2>
						</div>

						<div class='tab-business-list'>
							<div class='tab-business-item'>
								<img src='./static/images/person.jpg'>
								<p>Business Name
									<span></span>
								</p>

							</div>
							<div class='tab-business-item'>
								<img src='./static/images/person.jpg'>
								<p>Business Name
									<span></span>
								</p>
							</div>
							<div class='tab-business-item'>
								<img src='./static/images/person.jpg'>
								<p>Business Name
									<span></span>
								</p>
							</div>
							<div class='tab-business-item'>
								<img src='./static/images/person.jpg'>
								<p>Business Name
									<span></span>
								</p>

							</div>
							<div class='tab-business-item'>
								<img src='./static/images/person.jpg'>
								<p>Business Name
									<span></span>
								</p>
							</div>
							<div class='tab-business-item'>
								<img src='./static/images/person.jpg'>
								<p>Business Name
									<span></span>
								</p>
							</div>
							<div class='tab-business-item'>
								<img src='./static/images/person.jpg'>
								<p>Business Name
									<span></span>
								</p>

							</div>
							<div class='tab-business-item'>
								<img src='./static/images/person.jpg'>
								<p>Business Name
									<span></span>
								</p>
							</div>
							<div class='tab-business-item'>
								<img src='./static/images/person.jpg'>
								<p>Business Name
									<span></span>
								</p>
							</div>
							<div class='tab-business-item'>
								<img src='./static/images/person.jpg'>
								<p>Business Name
									<span></span>
								</p>

							</div>
							<div class='tab-business-item'>
								<img src='./static/images/person.jpg'>
								<p>Business Name
									<span></span>
								</p>
							</div>
							<div class='tab-business-item'>
								<img src='./static/images/person.jpg'>
								<p>Business Name
									<span></span>
								</p>
							</div>
							<div class='tab-business-item'>
								<img src='./static/images/person.jpg'>
								<p>Business Name
									<span></span>
								</p>

							</div>
							<div class='tab-business-item'>
								<img src='./static/images/person.jpg'>
								<p>Business Name
									<span></span>
								</p>
							</div>
							<div class='tab-business-item'>
								<img src='./static/images/person.jpg'>
								<p>Business Name
									<span></span>
								</p>
							</div>
							

						</div>

					</section>

					<section id='tab-2' class='tab-panel'>
						<h2>Windows</h2>
						<div class='gallery single-gallery'>
							<a href='./static/images/person.jpg' data-caption="Something caption">
								<img src='./static/images/person.jpg' alt='First Image'>
							</a>

							<a href='./static/images/person.jpg'>
								<img src='./static/images/person.jpg' alt='Second Picture'>
							</a>
						</div>
					</section>

					<section id='tab-3' class='tab-panel'>
						<h2>Canvas</h2>
						<div class='gallery-2 single-gallery'>
							<a href='./static/images/person.jpg' data-caption="Something caption">
								<img src='./static/images/person.jpg' alt='First Image'>
							</a>

							<a href='./static/images/person.jpg'>
								<img src='./static/images/person.jpg' alt='Second Picture'>
							</a>
							<a href='./static/images/person.jpg' data-caption="Something caption">
								<img src='./static/images/person.jpg' alt='First Image'>
							</a>

							<a href='./static/images/person.jpg'>
								<img src='./static/images/person.jpg' alt='Second Picture'>
							</a>
							<a href='./static/images/person.jpg' data-caption="Something caption">
								<img src='./static/images/person.jpg' alt='First Image'>
							</a>

							<a href='./static/images/person.jpg'>
								<img src='./static/images/person.jpg' alt='Second Picture'>
							</a>
						</div>
					</section>

					<section id='tab-4' class='tab-panel'>
						<h2>Murals</h2>
						<div class='gallery-3 single-gallery'>
							<a href='./static/images/person.jpg' data-caption="Something caption">
								<img src='./static/images/person.jpg' alt='First Image'>
							</a>

							<a href='./static/images/person.jpg'>
								<img src='./static/images/person.jpg' alt='Second Picture'>
							</a>
							<a href='./static/images/person.jpg' data-caption="Something caption">
								<img src='./static/images/person.jpg' alt='First Image'>
							</a>

							<a href='./static/images/person.jpg'>
								<img src='./static/images/person.jpg' alt='Second Picture'>
							</a>
							<a href='./static/images/person.jpg' data-caption="Something caption">
								<img src='./static/images/person.jpg' alt='First Image'>
							</a>

							<a href='./static/images/person.jpg'>
								<img src='./static/images/person.jpg' alt='Second Picture'>
							</a>
						</div>
					</section>

					<section id='tab-5' class='tab-panel'>
						<h2>Residential</h2>
						<div class='gallery-4 single-gallery'>
							<a href='./static/images/person.jpg' data-caption="Something caption">
								<img src='./static/images/person.jpg' alt='First Image'>
							</a>

							<a href='./static/images/person.jpg'>
								<img src='./static/images/person.jpg' alt='Second Picture'>
							</a>
							<a href='./static/images/person.jpg' data-caption="Something caption">
								<img src='./static/images/person.jpg' alt='First Image'>
							</a>

							<a href='./static/images/person.jpg'>
								<img src='./static/images/person.jpg' alt='Second Picture'>
							</a>
							<a href='./static/images/person.jpg' data-caption="Something caption">
								<img src='./static/images/person.jpg' alt='First Image'>
							</a>

							<a href='./static/images/person.jpg'>
								<img src='./static/images/person.jpg' alt='Second Picture'>
							</a>
						</div>
					</section>

					<section id='tab-6' class='tab-panel'>
						<h2>All</h2>
						<div class='gallery-5 single-gallery'>
							<a href='./static/images/person.jpg' data-caption="Something caption">
								<img src='./static/images/person.jpg' alt='First Image'>
							</a>

							<a href='./static/images/person.jpg'>
								<img src='./static/images/person.jpg' alt='Second Picture'>
							</a>
							<a href='./static/images/person.jpg' data-caption="Something caption">
								<img src='./static/images/person.jpg' alt='First Image'>
							</a>

							<a href='./static/images/person.jpg'>
								<img src='./static/images/person.jpg' alt='Second Picture'>
							</a>
							<a href='./static/images/person.jpg' data-caption="Something caption">
								<img src='./static/images/person.jpg' alt='First Image'>
							</a>

							<a href='./static/images/person.jpg'>
								<img src='./static/images/person.jpg' alt='Second Picture'>
							</a>
						</div>
					</section>
				</div>
			</div>
		</div>

		<script src='../baguettebox.js/dist/baguetteBox.js'></script>
		<script src='./bundle.js'></script>
	</body>
</html>