<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="The gallery of artist Erika Tolbert. Here you'll find here canvas, mural, paintings, and photography">
		<meta name="keywords" content="Artist, Denton, Texas, Mural, Painting, Seasonal, Windows, Mural, Art">
		<title>Golondrina Studio</title>

		<link href="https://fonts.googleapis.com/css?family=Lato:300,400i|Open+Sans:300,300i,400,700" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.css">
		<link rel='stylesheet' href='./static/icons/style.css'>
		<link rel='stylesheet' href='./styles/main.min.css'>
		<link rel='stylesheet' href='../baguettebox.js/dist/baguetteBox.min.css'>


	</head>

	<body>
		<% include ../shared/nav %>
		<% include ../shared/mobile-menu %>

		<main class='gallery-page'>
			<div class='gallery-body'>
				<div class='js-tab'>
					<ul class='tab-list'>
						<li class='tab-item'>
							<a class='tab-link window-link' href='#tab-1'><span class='icon-brush'></span></a>
						</li>

						<li class='tab-item'>
							<a class='tab-link canvas-link' href='#tab-1'><span class='icon-paint-format'></span></a>
						</li>

						<li class='tab-item'>
							<a class='tab-link residential-link' href='#tab-2'><span class='icon-home'></span></a>
						</li>

						<!-- <li class='tab-item'>
							<a class='tab-link icon-pencil' href='#tab-3'><span></span></a>
						</li> -->

						<li class='tab-item'>
							<a class='tab-link' href='#tab-4'><span class='icon-office'></span></a>
						</li>

						<!-- <li class='tab-item'>
							<a class='tab-link icon-genius' href='#tab-5'><span></span></a>
						</li> -->
					</ul>

					<section id='tab-1' class='tab-panel'>
						<h2>Windows</h2>
						<div class='gallery single-gallery'>
						</div>

						<div class='load-more-button'>
							<button id='load-more-windows' type='button'>
								<span>Load More</span>
							</button>
						</div>
					</section>

					<section id='tab-2' class='tab-panel canvas-section'>
						<h2>Canvas</h2>
						<div class='gallery-2 single-gallery'>
							
						</div>

						<div class='load-more-button'>
							<button id='load-more-canvas' type='button'>
								<span>Load More</span>
							</button>
						</div>
					</section>

					<section id='tab-3' class='tab-panel'>
						<h2>Residential</h2>

						<div class='mural-header'>
							<h4>Murals are an investment in your living space</h4>
							<p>They add value not only monitarily, but can transform a drab room into a lively conversation piece, give the illusion of depth and size to smaller spaces, or turn a child's room into a magical place for them to grow</p>
							<span>-- Every mural is hand painted and customized to accommodate your personal vision</span>
						<div class='gallery-3 single-gallery'>
							
						</div>

						<div class='load-more-button'>
							<button id='load-more-residential' type='button'>
								<span>Load More</span>
							</button>
						</div>

						<div class='mural-footer'>
							<p>Mural pricing is on average between $10 and $20 per square foot. This price can be higher or lower depending upon the amount of detail or extra preperation of the wall surface.  If you have a specific budget for a space I will work with you to design the very best option to provide you the enjoyment of custom artwork while remaining in your budget constraints.</p>
							<p>I provide free consultation for all spaces either in person or by email if you choose . All email consultations require photographs of the space to be painted as well as the demensions of the walls. The price you are quoted after your initial consultation will be the final price unless you choose to add more to the mural. There will never be any hidden extra fees. All materials are included in the mural pricing.</p>
					</section>

					<section id='tab-4' class='tab-panel construction-tab'>
						<div class='tab-panel-header'>
							<h2>Businesses</h2>
						</div>

						<div class='under-construction'>
							<div>
								<h3>Uh, Oh</h3>
								<p>This section is currently under construction</p>
							</div>
						</div>

					</section>
				</div>
			</div>
		</main>

		<% include ../shared/footer %>

		<script src='../baguettebox.js/dist/baguetteBox.min.js'></script>
		<script src='./scripts/bundle.min.js'></script>
	</body>
</html>