<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Golondrina Studio</title>
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400i|Open+Sans:300,300i,400,700" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.css">
		<link rel='stylesheet' href='./static/icons/style.css'>
		<link rel='stylesheet' href='./styles/main.min.css'>
		<link rel='stylesheet' href='../baguettebox.js/dist/baguetteBox.css'>


	</head>

	<body>
		<% include ../shared/nav %>
		<% include ../shared/mobile-menu %>

		<div class='gallery-page'>
			<div class='gallery-body'>
				<div class='js-tab'>
					<ul class='tab-list'>
						<li class='tab-item'>
							<a class='tab-link icon-paintbrush' href='#tab-1'><span></span></a>
						</li>

						<li class='tab-item'>
							<a class='tab-link icon-lightbulb' href='#tab-1'><span></span></a>
						</li>

						<li class='tab-item'>
							<a class='tab-link icon-camera' href='#tab-2'><span></span></a>
						</li>

						<!-- <li class='tab-item'>
							<a class='tab-link icon-pencil' href='#tab-3'><span></span></a>
						</li> -->

						<li class='tab-item'>
							<a class='tab-link icon-beaker' href='#tab-4'><span></span></a>
						</li>

						<!-- <li class='tab-item'>
							<a class='tab-link icon-genius' href='#tab-5'><span></span></a>
						</li> -->
					</ul>

					<section id='tab-1' class='tab-panel'>
						<h2>Windows</h2>
						<div class='gallery single-gallery'>
							<a href='./static/images/Gallery/Commercial/Windows/Window_AuthenticYogaLife_30Days.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_AuthenticYogaLife_30Days.jpg' alt='Authentic Yoga Life -- 30Days'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_AuthenticYogaLife_40days.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_AuthenticYogaLife_40days.jpg' alt='Authentic Yoga Life -- 40Days'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_BackYardOnBell_Christmas.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_BackYardOnBell_Christmas.jpg' alt='Back Yard On Bell -- Christmas'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_BackYardOnBell_ItsAlive.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_BackYardOnBell_ItsAlive.jpg' alt="Back Yard On Bell -- It's alive">
							</a>

							<a href="./static/images/Gallery/Commercial/Windows/Window_BackYardOnBell_It'sAline02.jpg">
								<img src="./static/images/Gallery/Commercial/Windows/Window_BackYardOnBell_It'sAline02.jpg" alt="Back Yard on Bell -- It's alive">
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_BishopArtsWinery_Christmas.JPG'>
								<img src="./static/images/Gallery/Commercial/Windows/Window_BishopArtsWinery_Christmas.JPG" alt='Bishop Arts Winery -- Christmas'>
							</a>

							<a href="./static/images/Gallery/Commercial/Windows/Window_CafeBrazil_Christmas2015.jpg">
								<img src='./static/images/Gallery/Commercial/Windows/Window_CafeBrazil_Christmas2015.jpg' alt="Cafe Brazil -- Christmas 2015">
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_DarkAge_Christmas.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_DarkAge_Christmas.jpg' alt='Dark Age Tattoo -- Christmas'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_DarkAge_Lettering.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_DarkAge_Lettering.jpg' alt='Dark Age Tattoo -- Logo'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_DiscoverCenton_Dod.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_DiscoverCenton_Dod.jpg' alt='Discover Denton -- Day of the Day'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_DiscoverDenton_Poets.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_DiscoverDenton_Poets.jpg' alt='Discover Denton -- Dead Poets'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_Eastside_Christmas2016.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_Eastside_Christmas2016.jpg' alt='Eastside -- Christmas 2016'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_Eastside_CoffinRaces.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_Eastside_CoffinRaces.jpg' alt='Eastside -- Coffin Races'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_Eastside_DoD.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_Eastside_DoD.jpg' alt='Eastside -- Day of the Dead'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_Eastside_Dod2016.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_Eastside_Dod2016.jpg' alt='Eastside -- Day of the Dead 2016'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_Eastside_Flappy.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_Eastside_Flappy.jpg' alt='Eastside -- Flappy'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_Eastside_Newyears.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_Eastside_Newyears.jpg' alt='Eastside -- New Years'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_Eastside_Thanksgiving.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_Eastside_Thanksgiving.jpg' alt='Eastside -- Thanksgiving'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_Eastside_dod2015.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_Eastside_dod2015.jpg' alt='Eastside -- Day of the Dead 2016'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_Finacialplanning_Winter.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_Finacialplanning_Winter.jpg' alt='Financial Planning -- Winter'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_GDAC_35Denton.jpg' alt='Denton Arts'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_GDAC_35Denton.jpg' alt='Denton Arts'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_GDAC_Dod.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_GDAC_Dod.jpg' alt='Denton Arts -- Day of the Day'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_GDAC_JLeeBday.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_GDAC_JLeeBday.jpg' alt='Denton Arts -- Jason Lee Birthday'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_GDAC_Winter.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_GDAC_Winter.jpg' alt='Denton Arts -- Winter'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_GameChangers_Christmas.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_GameChangers_Christmas.jpg' alt='Game Changers -- Christmas'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_Gamestop_Christmas.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_Gamestop_Christmas.jpg' alt='Gamestop -- Christmas'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_Gamestop_Creeper.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_Gamestop_Creeper.jpg' alt='Gamestop -- Creeper'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_Gamestop_Pokemon.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_Gamestop_Pokemon.jpg' alt='Gamestop -- Pokemon'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_Gamestop_Riddler.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_Gamestop_Riddler.jpg' alt='Gamestop -- Riddler'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_HarvestHouse_35Denton.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_HarvestHouse_35Denton.jpg' alt='Harvest House'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_HarvestHouse_Christmas2015.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_HarvestHouse_Christmas2015.jpg' alt='Harvest House -- Christmas 2015'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_HarvestHouse_Dod.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_HarvestHouse_Dod.jpg' alt='Harvest House -- Day of the Dead'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_HarvestHouse_MainSqueeze.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_HarvestHouse_MainSqueeze.jpg' alt='Harvest House -- Main Squeeze'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_Hoochies_Christmas2014.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_Hoochies_Christmas2014.jpg' alt='Hoochies -- Christmas 2014'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_Hoochies_Dod.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_Hoochies_Dod.jpg' alt='Hoochies -- Day of the Dead'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_Hoochies_Gold.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_Hoochies_Gold.jpg' alt='Hoochies -- Gold'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_Hoochies_Jazz.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_Hoochies_Jazz.jpg' alt='Hoochies -- Jazz'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_JupiterHouse_Dod.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_JupiterHouse_Dod.jpg' alt='Jupiter House -- Day of the Dead'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_JupiterHouse_Winter.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_JupiterHouse_Winter.jpg' alt='Jupiter House -- Winter'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_LaDiDa_Christmas.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_LaDiDa_Christmas.jpg' alt='LaDiDa --Christmas'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_MellosMushroom_DoD2.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_MellosMushroom_DoD2.jpg' alt='Mellow Mushroom -- Day of the Dead'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_MellowMushroom_Christmas.JPG'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_MellowMushroom_Christmas.JPG' alt='Mellow Mushroom -- Christmas'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_MellowMushroom_Christmas2015.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_MellowMushroom_Christmas2015.jpg' alt='Mellow Mushroom -- Christmas 2015'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_MellowMushroom_Dod.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_MellowMushroom_Dod.jpg' alt='Mellow Mushroom -- Day of the Dead'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_MellowMushroom_Dod2015_02.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_MellowMushroom_Dod2015_02.jpg' alt='Mellow Mushroom -- Day of the Dead 2015'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_MellowMushroom_dod2015.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_MellowMushroom_dod2015.jpg' alt='Mellow Mushroom -- Day of the dead 2015'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_OakClips_Christmas.JPG'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_OakClips_Christmas.JPG' alt='Oak Clips -- Christmas'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_RecycledBooks_Christmas2016.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_RecycledBooks_Christmas2016.jpg' alt='Recycled Records -- Christmas 2016'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_Recycled_Christmas.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_Recycled_Christmas.jpg' alt='Recycled Records -- Christmas'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_Recycled_Christmas2015.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_Recycled_Christmas2015.jpg' alt='Recycled Records -- Christmas 2015'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_Royals_Christmas.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_Royals_Christmas.jpg' alt='Royals -- Christmas'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_Royals_Christmas.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_Royals_Christmas.jpg' alt='Royals -- Pokemon'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_Royals_Winter.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_Royals_Winter.jpg' alt="Royals -- Winter">
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_SeniorsInMotionDod.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_SeniorsInMotionDod.jpg' alt='Seniors in Motion -- Day of the Dead'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_TheVenue_Renew.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_TheVenue_Renew.jpg' alt='The Venue -- Renew'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Window_WineSquared_Christmas.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Window_WineSquared_Christmas.jpg' alt='Wine Squared -- Christmas'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Windows_Divanti_Water.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Windows_Divanti_Water.jpg' alt='Divanti -- Water'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Windows_Eastside_ChristmasCoal.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Windows_Eastside_ChristmasCoal.jpg' alt='Eastside -- Christmas Coal'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Windows_GDAC_36Denton.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Windows_GDAC_36Denton.jpg' alt='Denton Arts'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Windows_GDAC_DoD2.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Windows_GDAC_DoD2.jpg' alt='Denton Arts -- Day of the Dead'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Windows_HarvestHouse_36Denton.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Windows_HarvestHouse_36Denton.jpg' alt='Harvest House'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Windows_HarvestHouse_KUDZU.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Windows_HarvestHouse_KUDZU.jpg' alt='Harvest House -- KUDZU'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Windows_OakStreet_Christmas.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Windows_OakStreet_Christmas.jpg' alt='Oak Street -- Christmas'>
							</a>

							<a href='./static/images/Gallery/Commercial/Windows/Windows_TexasTapas_Christmas.jpg'>
								<img src='./static/images/Gallery/Commercial/Windows/Windows_TexasTapas_Christmas.jpg' alt='Text Tapas -- Christmas'>
							</a>

						</div>
					</section>

					<section id='tab-2' class='tab-panel canvas-section'>
						<h2>Canvas</h2>
						<div class='gallery-2 single-gallery'>
							<a href='./static/images/Gallery/canvas1.jpg'>
								<img src='./static/images/Gallery/canvas1.jpg'>
							</a>

							<a href='./static/images/Gallery/canvas2.jpg'>
								<img src='./static/images/Gallery/canvas2.jpg'>
							</a>

							<a href='./static/images/Gallery/canvas3.jpg'>
								<img src='./static/images/Gallery/canvas3.jpg'>
							</a>

							<a href='./static/images/Gallery/canvas4.jpg'>
								<img src='./static/images/Gallery/canvas4.jpg'>
							</a>

							<a href='./static/images/Gallery/canvas5.jpg'>
								<img src='./static/images/Gallery/canvas5.jpg'>
							</a>

							<a href='./static/images/Gallery/canvas6.jpg'>
								<img src='./static/images/Gallery/canvas6.jpg'>
							</a>

							<a href='./static/images/Gallery/canvas7.jpg'>
								<img src='./static/images/Gallery/canvas7.jpg'>
							</a>
						</div>
					</section>

				<!--	<section id='tab-4' class='tab-panel'>
						<h2>Murals</h2>
						<div class='gallery-3 single-gallery'>
							<a href='./static/images/person.jpg' data-caption="Something caption">
								<img src='./static/images/person.jpg' alt='First Image'>
							</a>

							<a href='./static/images/person.jpg'>
								<img src='./static/images/person.jpg' alt='Second Picture'>
							</a>
							<a href='./static/images/person.jpg' data-caption="Something caption">
								<img src='./static/images/person.jpg' alt='First Image'>
							</a>

							<a href='./static/images/person.jpg'>
								<img src='./static/images/person.jpg' alt='Second Picture'>
							</a>
							<a href='./static/images/person.jpg' data-caption="Something caption">
								<img src='./static/images/person.jpg' alt='First Image'>
							</a>

							<a href='./static/images/person.jpg'>
								<img src='./static/images/person.jpg' alt='Second Picture'>
							</a>
						</div>
					</section> -->

					<section id='tab-3' class='tab-panel'>
						<h2>Residential</h2>

						<div class='mural-header'>
							<h4>Murals are an investment in your living space</h4>
							<p>They add value not only monitarily, but can transform a drab room into a lively conversation piece, give the illusion of depth and size to smaller spaces, or turn a child's room into a magical place for them to grow</p>
							<span><span>-- Every mural is hand painted and customized to accommodate your personal vision</span>
						<div class='gallery-3 single-gallery'>
							<a href='./static/images/Gallery/Residential/Mural01.jpg'>
								<img src='./static/images/Gallery/Residential/Mural01.jpg'>
							</a>

							<a href='./static/images/Gallery/Residential/Mural02.jpg'>
								<img src='./static/images/Gallery/Residential/Mural02.jpg'>
							</a>

							<a href='./static/images/Gallery/Residential/Mural03.jpg'>
								<img src='./static/images/Gallery/Residential/Mural03.jpg'>
							</a>

							<a href='./static/images/Gallery/Residential/Mural04.jpg'>
								<img src='./static/images/Gallery/Residential/Mural04.jpg'>
							</a>

							<a href='./static/images/Gallery/Residential/Mural05.jpg'>
								<img src='./static/images/Gallery/Residential/Mural05.jpg'>
							</a>

							<a href='./static/images/Gallery/Residential/Mural06.jpg'>
								<img src='./static/images/Gallery/Residential/Mural06.jpg'>
							</a>

							<a href='./static/images/Gallery/Residential/Mural07.jpg'>
								<img src='./static/images/Gallery/Residential/Mural07.jpg'>
							</a>

							<a href='./static/images/Gallery/Residential/Mural08.jpg'>
								<img src='./static/images/Gallery/Residential/Mural08.jpg'>
							</a>

							<a href='./static/images/Gallery/Residential/Mural09.jpg'>
								<img src=./static/images/Gallery/Residential/Mural09.jpg>
							</a>

							<a href=./static/images/Gallery/Residential/Mural10.jpg>
								<img src='./static/images/Gallery/Residential/Mural10.jpg'>
							</a>

							<a href='./static/images/Gallery/Residential/Mural11.jpg'>
								<img src=./static/images/Gallery/Residential/Mural11.jpg>
							</a>

							<a href='./static/images/Gallery/Residential/Mural12.jpg'>
								<img src='../static/images/Gallery/Residential/Mural12.jpg'>
							</a>

							<a href='./static/images/Gallery/Residential/Mural13.jpg'>
								<img src='./static/images/Gallery/Residential/Mural13.jpg'>
							</a>

							<a href='./static/images/Gallery/Residential/PropaneTank.jpg'>
								<img src='./static/images/Gallery/Residential/PropaneTank.jpg'>
							</a>

							<a href='./static/images/Gallery/Residential/Table01.jpg'>
								<img src='./static/images/Gallery/Residential/Table01.jpg'>
							</a>

							<a href='./static/images/Gallery/Residential/Table02.jpg'>
								<img src='./static/images/Gallery/Residential/Table02.jpg'>
							</a>
						</div>

						<div class='mural-footer'>
							<p>Mural pricing is on average between $10 and $20 per square foot. This price can be higher or lower depending upon the amount of detail or extra preperation of the wall surface.  If you have a specific budget for a space I will work with you to design the very best option to provide you the enjoyment of custom artwork while remaining in your budget constraints.</p>
							<p>I provide free consultation for all spaces either in person or by email if you choose . All email consultations require photographs of the space to be painted as well as the demensions of the walls. The price you are quoted after your initial consultation will be the final price unless you choose to add more to the mural. There will never be any hidden extra fees. All materials are included in the mural pricing.</p>

							<a href='/contact'>
								<button>
									<span>Contact</span>
								</button>
							</a>
					</section>

					<section id='tab-4' class='tab-panel construction-tab'>
						<div class='tab-panel-header'>
							<h2>Businesses</h2>
						</div>

						<div class='under-construction'>
							<div>
								<h3>Uh, Oh</h3>
								<p>This section is currently under construction</p>
							</div>
						</div>

					</section>

					<!-- <section id='tab-5' class='tab-panel'>
						<h2>All</h2>
						<div class='gallery-5 single-gallery'>
							<a href='./static/images/person.jpg' data-caption="Something caption">
								<img src='./static/images/person.jpg' alt='First Image'>
							</a>

							<a href='./static/images/person.jpg'>
								<img src='./static/images/person.jpg' alt='Second Picture'>
							</a>
							<a href='./static/images/person.jpg' data-caption="Something caption">
								<img src='./static/images/person.jpg' alt='First Image'>
							</a>

							<a href='./static/images/person.jpg'>
								<img src='./static/images/person.jpg' alt='Second Picture'>
							</a>
							<a href='./static/images/person.jpg' data-caption="Something caption">
								<img src='./static/images/person.jpg' alt='First Image'>
							</a>

							<a href='./static/images/person.jpg'>
								<img src='./static/images/person.jpg' alt='Second Picture'>
							</a>
						</div> -->
				</div>
			</div>
		</div>

		<% include ../shared/footer %>

		<script src='../baguettebox.js/dist/baguetteBox.js'></script>
		<script src='./bundle.js'></script>
	</body>
</html>