<section class='landing-about'>
	<div class='landing-about-text'>
		<div class='landing-text-overlay'></div>
		<blockquote>When I founded Golondrina Studio I never fathomed it would grow into what it is today. What originally started as a way for me to share one of my greatest passions has blossomed into something that allows me to channel my art directly into the community. Coming from humble beginings to seeing my art adorning my city has been an amazing journey. I didn't, and still don't, have any grandious goals for my work, but watching the community's artistic culture thrive as more artists like myself set out with similar goals makes me strive with impunity to grow larger
		</blockquote>
	</div>

	<div class='landing-about-quoted'>
		<div>
			<cite>Erika Tolbert</cite>
			<p>Founder of Golondrina</p>
		</div>

		<img src='./static/images/erika.jpg'>
	</div>
</section>