			<div class='landing-about'>
				<div class='landing-about-text'>
					<div class='landing-text-overlay'></div>
					<blockquote>Something something about golondrina and how it is our mission blah bah blah, provide amazing wonderful products Something something about golondrina and how it is our mission blah bah blah, provide amazing wonderful products Something something about golondrina and how it is our mission blah bah blah, provide amazing wonderful products Something something about golondrina and how it is our mission blah bah blah, provide amazing wonderful products Something something about golondrina and how it is our mission blah bah blah, provide amazing wonderful products Something something about golondrina and how it is our mission blah bah blah, provide amazing wonderful products 
					</blockquote>
				</div>

				<div class='landing-about-quoted'>
					<div>
						<cite>Erika Tolbert</cite>
						<p>Founder of Golondrina</p>
					</div>

					<img src='./static/images/mommytemp.jpg'>
				</div>
			</div>

			<div class='landing-business'>
				<div>
					<p>GDAC</p>
				</div>

				<div>
					<p>EASTSIDE</p>
				</div>

				<div>
					<p>HOOCHIES</p>
				</div>

				<div>
					<p>CAFE BRAZIL</p>
				</div>
			</div>


			<div class='landing-newsletter'>
				<div class='landing-newsletter-overlay'></div>
				<h3>Signup to get the latest</h3>

				<div class='landing-newsletter-input'>
					<div class='form-wrapper landing-form-wrapper form-email' id='landing-form-wrapper'>
						<input type='email' name='email' id='landing-email' required class='form-input'>
						<label for="email">
							<span class='icon-envelope'></span>
							Email
						</label>
						<button id='signup-button' class='form-send'>
							<span>Start!</span>
							<div class='loader'></div>
						</button>
					</div>
				</div>
			</div>