			<div class='landing-about'>
				<div class='landing-about-text'>
					<div class='landing-text-overlay'></div>
					<blockquote>Something something about golondrina and how it is our mission blah bah blah, provide amazing wonderful products Something something about golondrina and how it is our mission blah bah blah, provide amazing wonderful products Something something about golondrina and how it is our mission blah bah blah, provide amazing wonderful products Something something about golondrina and how it is our mission blah bah blah, provide amazing wonderful products Something something about golondrina and how it is our mission blah bah blah, provide amazing wonderful products Something something about golondrina and how it is our mission blah bah blah, provide amazing wonderful products 
					</blockquote>
				</div>

				<div class='landing-about-quoted'>
					<div>
						<cite>Erika Tolbert</cite>
						<p>Founder of Golondrina</p>
					</div>

					<img src='./static/images/mommytemp.jpg'>
				</div>
			</div>

			<div class='landing-business'>
				<div>
					<p>BTTHL</p>
				</div>

				<div>
					<p>CUNT</p>
				</div>

				<div>
					<p>BLLZ</p>
				</div>

				<div>
					<p>CCP</p>
				</div>
			</div>


			<div class='landing-newsletter'>
				<div class='landing-newsletter-overlay'></div>
				<h3>Signup to get the latest</h3>

				<div class='landing-newsletter-input'>
					<div class='landing-form-wrapper' id='landing-form-wrapper'>
						<input type='email' name='email' id='landing-email' required>
						<label for="email">
							<span class='icon-envelope'></span>
							Email
						</label>
						<button id='signup-button'>
							<span>Start!</span>
							<div class='loader'></div>
						</button>
					</div>
				</div>
			</div>