			<div id='contact-dialog' class='contact-dialog'>
				<div class='contact-dialog-header'>
					<h2>Get in Touch</h2>
				</div>

				<div class='contact-dialog-form'>
					<form name='contactForm'>
						<div class='contact-form-wrapper dialog-form-wrapper'>
							<input type='text' class='contact-form-input'>
							<label>Name</label>
						</div>

						<div class='contact-form-wrapper contact-form-email dialog-form-wrapper'>
							<input type='email' id='contact-email' class='contact-form-input'>
							<label>Email</label>
						</div>

						<div class='contact-form-wrapper dialog-form-wrapper'>
							<input type='number' class='contact-form-input'>
							<label>Phone</label>
						</div>

						<div class='contact-form-wrapper dialog-form-wrapper'>
							<textarea rows='6' class='contact-form-input'></textarea>
							<label>Message</label>
						</div>

						<div class='contact-form-submit dialog-form-submit'>
							<button type='button' id='contact-send'>
								<span>Send</span>
							</button>
						</div>
					</form>
				</div>
			</div>