<section class='landing-mission'>
	<div class='mission-item-container'>
		<div class='mission-item' data-entrace='fade'>
			<div class='mission-icon'>
				<span class='icon-beaker'></span>
			</div>

			<h3>Original and Excellent Designs</h3>
			<p>At Golondrina Studio we pride ourselves on creating custom artword on a myriad of different media. From large-scale businesses looking for new designs to quaint residental paintings, Golondrina Studio has something in mind for everyone</p>
		</div>

		<div class='mission-item' data-entrance='fade'>
			<div class='mission-icon'>
				<span class='icon-megaphone'></span>
			</div>

			<h3>Work Around Your Schedule</h3>
			<p>We understand how hard it is as a bussiness or as a family to make time for the things that you want to do. It is for this reason that we strive to be as flexible as possible to give you great art in your time frame</p>
		</div>

		<div class='mission-item' data-entrance='fade'>
			<div class='mission-icon'>
				<span class='icon-genius'></span>
			</div>

			<h3>Help Grow Your Business</h3>
			<p>It is scientifically proven that a strong visual and design presence can not only have an effect on how people view your business, but how much of a personal connection to your product they feel which affects how much they want to return to your business in the future</p>
		</div>
	</div>
</section>