			<div id='landing-success'>
				<h3 class='notification-title'>Welcome to the club!</h3>
				<p class='notification-text'>You should have just received your first email</p>
			</div>

			<div id='landing-failure'>
				<h3 class='notification-title'>Uh Oh</h3>
				<p class='notification-text'>Try again and make sure this email isn't in use</p>
			</div>

			<div id='landing-error'>
				<h3 class='notification-title'>That's Strange</h3>
				<p class='notification-text'>Your request wasn't sent. Check to make sure your email is valid</p>
			</div>