 <div class='landing-testimonials'>
				<h3>Testimonials</h3>
				<p>See why people are so <span>thrilled</span> about Golondrina and the work that we do here</p>
					<div class='carousel testimonial-carousel-container' data-flickity='{"autoPlay": 3500, "pauseAutoPlayOnHover": false, "freeScroll": true, "wrapAround": true, "percentPosition": true}'>
						 <div class='testimonial-single-card carousel-cell'>
							<div class='testimonial-image'>
								<img src='https://d2x9pgnb7vwmga.cloudfront.net/assets/everest/home/quote-img/laywaste-647329d0d75c7604df3a9816465e19ea90f45e34d44fcbe24d7822685e8f1e5b.jpg'>
								<div class='testimonial-image-overlay'>
									<p>The Doubleclicks</p>
									<p>sjdfhkdghkjdsf</p>
								</div>
							</div>

							<div class='testimonial-body'>
								<div class='testimonial-body-image'>
									<img src='./static/images/person.jpg'>
									<p>Mark Penisburg</p>
									<p>The Doubleclicks</p>
								</div>

								<div class='testimonial-quote'>
									<blockquote>I contracted Golondrina Studio to help me design my company's  new logo. At first, the logo was just going to be a giant cock made in my image, but with the wonderful consulting at Golondrina I expanded this idea into a super cock. I know what you are thinking, I'm a complete piece of shit and have balls on my forehead. Well, you're not wrong! It was with the help of Golondrina that I acheived my artistic vision of being a complete tool and cum-bucket.
									<cite>Some btch</cite>
									</blockquote>
								</div>

								<div class='testimonial-work'>
									<a href='/'>
										<button>
											<span>See the Work</span>
										</button>
									</a>
								</div>
							</div>
						</div>

						 <div class='testimonial-single-card carousel-cell'>
							<div class='testimonial-image'>
								<img src='https://d2x9pgnb7vwmga.cloudfront.net/assets/everest/home/quote-img/laywaste-647329d0d75c7604df3a9816465e19ea90f45e34d44fcbe24d7822685e8f1e5b.jpg'>
								<div class='testimonial-image-overlay'>
									<p>The Doubleclicks</p>
									<p>sjdfhkdghkjdsf</p>
								</div>
							</div>

							<div class='testimonial-body'>
								<div class='testimonial-body-image'>
									<img src='./static/images/person.jpg'>
									<p>Mark Penisburg</p>
									<p>The Doubleclicks</p>
								</div>

								<div class='testimonial-quote'>
									<blockquote>I contracted Golondrina Studio to help me design my company's  new logo. At first, the logo was just going to be a giant cock made in my image, but with the wonderful consulting at Golondrina I expanded this idea into a super cock. I know what you are thinking, I'm a complete piece of shit and have balls on my forehead. Well, you're not wrong! It was with the help of Golondrina that I acheived my artistic vision of being a complete tool and cum-bucket.
									<cite>Some btch</cite>
									</blockquote>
								</div>

								<div class='testimonial-work'>
									<a href='/'>
										<button>
											<span>See the Work</span>
										</button>
									</a>
								</div>
							</div>
						</div>

						 <div class='testimonial-single-card carousel-cell'>
							<div class='testimonial-image'>
								<img src='https://d2x9pgnb7vwmga.cloudfront.net/assets/everest/home/quote-img/laywaste-647329d0d75c7604df3a9816465e19ea90f45e34d44fcbe24d7822685e8f1e5b.jpg'>
								<div class='testimonial-image-overlay'>
									<p>The Doubleclicks</p>
									<p>sjdfhkdghkjdsf</p>
								</div>
							</div>

							<div class='testimonial-body'>
								<div class='testimonial-body-image'>
									<img src='./static/images/person.jpg'>
									<p>Mark Penisburg</p>
									<p>The Doubleclicks</p>
								</div>

								<div class='testimonial-quote'>
									<blockquote>I contracted Golondrina Studio to help me design my company's  new logo. At first, the logo was just going to be a giant cock made in my image, but with the wonderful consulting at Golondrina I expanded this idea into a super cock. I know what you are thinking, I'm a complete piece of shit and have balls on my forehead. Well, you're not wrong! It was with the help of Golondrina that I acheived my artistic vision of being a complete tool and cum-bucket.
									<cite>Some btch</cite>
									</blockquote>
								</div>

								<div class='testimonial-work'>
									<a href='/'>
										<button>
											<span>See the Work</span>
										</button>
									</a>
								</div>
							</div>
						</div>

						 <div class='testimonial-single-card carousel-cell'>
							<div class='testimonial-image'>
								<img src='https://d2x9pgnb7vwmga.cloudfront.net/assets/everest/home/quote-img/laywaste-647329d0d75c7604df3a9816465e19ea90f45e34d44fcbe24d7822685e8f1e5b.jpg'>
								<div class='testimonial-image-overlay'>
									<p>The Doubleclicks</p>
									<p>sjdfhkdghkjdsf</p>
								</div>
							</div>

							<div class='testimonial-body'>
								<div class='testimonial-body-image'>
									<img src='./static/images/person.jpg'>
									<p>Mark Penisburg</p>
									<p>The Doubleclicks</p>
								</div>

								<div class='testimonial-quote'>
									<blockquote>I contracted Golondrina Studio to help me design my company's  new logo. At first, the logo was just going to be a giant cock made in my image, but with the wonderful consulting at Golondrina I expanded this idea into a super cock. I know what you are thinking, I'm a complete piece of shit and have balls on my forehead. Well, you're not wrong! It was with the help of Golondrina that I acheived my artistic vision of being a complete tool and cum-bucket.
									<cite>Some btch</cite>
									</blockquote>
								</div>

								<div class='testimonial-work'>
									<a href='/'>
										<button>
											<span>See the Work</span>
										</button>
									</a>
								</div>
							</div>
						</div>

						 <div class='testimonial-single-card carousel-cell'>
							<div class='testimonial-image'>
								<img src='https://d2x9pgnb7vwmga.cloudfront.net/assets/everest/home/quote-img/laywaste-647329d0d75c7604df3a9816465e19ea90f45e34d44fcbe24d7822685e8f1e5b.jpg'>
								<div class='testimonial-image-overlay'>
									<p>The Doubleclicks</p>
									<p>sjdfhkdghkjdsf</p>
								</div>
							</div>

							<div class='testimonial-body'>
								<div class='testimonial-body-image'>
									<img src='./static/images/person.jpg'>
									<p>Mark Penisburg</p>
									<p>The Doubleclicks</p>
								</div>

								<div class='testimonial-quote'>
									<blockquote>I contracted Golondrina Studio to help me design my company's  new logo. At first, the logo was just going to be a giant cock made in my image, but with the wonderful consulting at Golondrina I expanded this idea into a super cock. I know what you are thinking, I'm a complete piece of shit and have balls on my forehead. Well, you're not wrong! It was with the help of Golondrina that I acheived my artistic vision of being a complete tool and cum-bucket.
									<cite>Some btch</cite>
									</blockquote>
								</div>

								<div class='testimonial-work'>
									<a href='/'>
										<button>
											<span>See the Work</span>
										</button>
									</a>
								</div>
							</div>
						</div>

						<div class='testimonial-single-card carousel-cell'>
							<div class='testimonial-image'>
								<img src='https://d2x9pgnb7vwmga.cloudfront.net/assets/everest/home/quote-img/laywaste-647329d0d75c7604df3a9816465e19ea90f45e34d44fcbe24d7822685e8f1e5b.jpg'>
								<div class='testimonial-image-overlay'>
									<p>The Doubleclicks</p>
									<p>sjdfhkdghkjdsf</p>
								</div>
							</div>

							<div class='testimonial-body'>
								<div class='testimonial-body-image'>
									<img src='./static/images/person.jpg'>
									<p>Mark Penisburg</p>
									<p>The Doubleclicks</p>
								</div>

								<div class='testimonial-quote'>
									<blockquote>I contracted Golondrina Studio to help me design my company's  new logo. At first, the logo was just going to be a giant cock made in my image, but with the wonderful consulting at Golondrina I expanded this idea into a super cock. I know what you are thinking, I'm a complete piece of shit and have balls on my forehead. Well, you're not wrong! It was with the help of Golondrina that I acheived my artistic vision of being a complete tool and cum-bucket.
									<cite>Some btch</cite>
									</blockquote>
								</div>

								<div class='testimonial-work'>
									<a href='/'>
										<button>
											<span>See the Work</span>
										</button>
									</a>
								</div>
							</div>
						</div>

						<div class='testimonial-single-card carousel-cell'>
							<div class='testimonial-image'>
								<img src='https://d2x9pgnb7vwmga.cloudfront.net/assets/everest/home/quote-img/laywaste-647329d0d75c7604df3a9816465e19ea90f45e34d44fcbe24d7822685e8f1e5b.jpg'>
								<div class='testimonial-image-overlay'>
									<p>The Doubleclicks</p>
									<p>sjdfhkdghkjdsf</p>
								</div>
							</div>

							<div class='testimonial-body'>
								<div class='testimonial-body-image'>
									<img src='./static/images/person.jpg'>
									<p>Mark Penisburg</p>
									<p>The Doubleclicks</p>
								</div>

								<div class='testimonial-quote'>
									<blockquote>I contracted Golondrina Studio to help me design my company's  new logo. At first, the logo was just going to be a giant cock made in my image, but with the wonderful consulting at Golondrina I expanded this idea into a super cock. I know what you are thinking, I'm a complete piece of shit and have balls on my forehead. Well, you're not wrong! It was with the help of Golondrina that I acheived my artistic vision of being a complete tool and cum-bucket.
									<cite>Some btch</cite>
									</blockquote>
								</div>

								<div class='testimonial-work'>
									<a href='/'>
										<button>
											<span>See the Work</span>
										</button>
									</a>
								</div>
							</div>
						</div> 
					</div>
				</div>
			</div>