<div class='landing-latest-works'>
				<h2>Latest Success Stories</h2>
				<div>
					<div class='landing-work' data-entrance='fade'>
						<img src='https://d2x9pgnb7vwmga.cloudfront.net/assets/everest/home/quote-img/peak-design-9d8a3d0a3285e8f3166f54797785ef11b6cda596a9f39db32549ca21161be73d.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
							<button>
								<span>See the work</span>
							</button>
						</div>
					</div>

					<div class='landing-work' data-entrance='fade'>
						<img src='https://d2x9pgnb7vwmga.cloudfront.net/assets/everest/home/quote-img/gir-6b373cd8e692c16b7ca60c4c7b5eae890db996ff2ae06dc066ec89ee9ba62290.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
							<button>
								<span>See the work</span>
							</button>
						</div>
					</div>

					<div class='landing-work' data-entrance='fade'>
						<img src='https://d2x9pgnb7vwmga.cloudfront.net/assets/everest/home/quote-img/doubleclicks-6b80ad721e56c6d42bf4399e1ea3061c4c177d9b15e10aaa288a088e0e478f5f.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
							<button>
								<span>See the work</span>
							</button>
						</div>
					</div>

					<div class='landing-work' data-entrance='fade'>
						<img src='./static/images/keyboard.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
						</div>
					</div>

					<div class='landing-work' data-entrance='fade'>
						<img src='./static/images/keyboard.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
						</div>
					</div>

					<div class='landing-work' data-entrance='fade'>
						<img src='./static/images/keyboard.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
						</div>
					</div>


					<div class='landing-work large-desktop' data-entrance='fade'>
						<img src='./static/images/keyboard.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
						</div>
					</div>

					<div class='landing-work large-desktop' data-entrance='fade'>
						<img src='./static/images/keyboard.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
						</div>
					</div>

					<div class='landing-work large-desktop' data-entrance='fade'>
						<img src='./static/images/keyboard.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
						</div>
					</div>

					<div class='landing-work large-desktop' data-entrance='fade'>
						<img src='./static/images/keyboard.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
						</div>
					</div>

					<div class='landing-work large-desktop' data-entrance='fade'>
						<img src='./static/images/keyboard.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
						</div>
					</div>

					<div class='landing-work large-desktop' data-entrance='fade'>
						<img src='./static/images/keyboard.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
						</div>
					</div>
				</div>

				<div class='landing-latest-button'>
					<a href='/recent'>
						<button>
							<span>See More</span>
						</button>
					</a>
				</div>
			</div>