<section class='landing-latest-works'>
	<h2>Latest Success Stories</h2>
	<div>
		<div class='landing-work' data-entrance='fade'>
			<img src='./static/images/Gallery/Commercial/Windows/Window_BackYardOnBell_Christmas.jpg'>
			<div>
				<h3>Work for <span>Back Yard On Bell</span></h3>
				<p>This is an example of their Christmas Selection</p>
			</div>
		</div>

		<div class='landing-work' data-entrance='fade'>
			<img src='./static/images/Gallery/Commercial/Windows/Window_DarkAge_Christmas.jpg'>
			<div>
				<h3>Work for <span>Dark Age</span></h3>
				<p>Tattoo Shops need seasonal cheer too</p>
			</div>
		</div>

		<div class='landing-work' data-entrance='fade'>
			<img src='./static/images/Gallery/Commercial/Windows/Window_Eastside_Christmas2016.jpg'>
			<div>
				<h3>Work for <span>Eastside</span></h3>
				<p>What better place to enjoy a quality beer and get in the season?</p>
			</div>
		</div>

		<div class='landing-work' data-entrance='fade'>
			<img src='./static/images/Gallery/Commercial/Windows/Window_Eastside_Dod2016.jpg'>
			<div>
				<h3>Work for <span>Eastside</span></h3>
				<p>A selection of the Day of the Dead work for Eastside</p>
			</div>
		</div>

		<div class='landing-work' data-entrance='fade'>
			<img src='./static/images/Gallery/Commercial/Windows/Window_Eastside_Newyears.jpg'>
			<div>
				<h3>Work for <span>Eastside</span></h3>
				<p>Ringing in the New Year at Eastside</p>
			</div>
		</div>

		<div class='landing-work' data-entrance='fade'>
			<img src='./static/images/Gallery/Commercial/Windows/Window_GDAC_JLeeBday.jpg'>
			<div>
				<h3>Work for <span>GDAC</span></h3>
				<p>Getting ready for one of Denton's favorite celebrity birthdays</p>
			</div>
		</div>


		<div class='landing-work large-desktop' data-entrance='fade'>
			<img src='./static/images/Gallery/Commercial/Windows/Window_GDAC_Winter.jpg'>
			<div>
				<h3>Work for <span>GDAC</span></h3>
				<p>Celebrating the Arts and the season with more festive work</p>
			</div>
		</div>

		<div class='landing-work large-desktop' data-entrance='fade'>
			<img src='./static/images/Gallery/Commercial/Windows/Window_GameChangers_Christmas.jpg'>
			<div>
				<h3>Work for <span>Game Changers</span></h3>
				<p>Nothing tells someone where to get their children the best gifts like a festive display</p>
			</div>
		</div>

		<div class='landing-work large-desktop' data-entrance='fade'>
			<img src='./static/images/Gallery/Commercial/Windows/Window_JupiterHouse_Winter.jpg'>
			<div>
				<h3>Work for <span>Jupiter House</span></h3>
				<p>When I think of winter, I think of a hot, fresh cup of coffee</p>
			</div>
		</div>

		<div class='landing-work large-desktop' data-entrance='fade'>
			<img src='./static/images/Gallery/Commercial/Windows/Window_LaDiDa_Christmas.jpg'>
			<div>
				<h3>Work for <span>LaDiDA</span></h3>
				<p>A sample of LaDiDa's Christmas display this year</p>
			</div>
		</div>

		<div class='landing-work large-desktop' data-entrance='fade'>
			<img src='./static/images/Gallery/Commercial/Windows/Window_RecycledBooks_Christmas2016.jpg'>
			<div>
				<h3>Work for <span>Recycled</span></h3>
				<p>Remember at this festive part of the year that some things get better with age</p>
			</div>
		</div>

		<div class='landing-work large-desktop' data-entrance='fade'>
			<img src='./static/images/Gallery/Commercial/Windows/Windows_Eastside_ChristmasCoal.jpg'>
			<div>
				<h3>Work for <span>Eastside</span></h3>
				<p>Better check your naughty list, you just might find your self with coal in your stocking instead of a nice ale</p>
			</div>
		</div>
	</div>

	<div class='landing-latest-button'>
		<a href='/gallery'>
			<button type='button' aria-label='see more of my works'>
				<span>See More</span>
			</button>
		</a>
	</div>
</section>