<div class='landing-latest-works'>
				<h2>Latest Success Stories</h2>
				<div>
					<div class='landing-work' data-entrance='fade'>
						<img src='./static/images/Gallery/Commercial/Windows/Window_BackYardOnBell_Christmas.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
							<button>
								<span>See the work</span>
							</button>
						</div>
					</div>

					<div class='landing-work' data-entrance='fade'>
						<img src='./static/images/Gallery/Commercial/Windows/Window_DarkAge_Christmas.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
							<button>
								<span>See the work</span>
							</button>
						</div>
					</div>

					<div class='landing-work' data-entrance='fade'>
						<img src='./static/images/Gallery/Commercial/Windows/Window_Eastside_Christmas2016.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
							<button>
								<span>See the work</span>
							</button>
						</div>
					</div>

					<div class='landing-work' data-entrance='fade'>
						<img src='./static/images/Gallery/Commercial/Windows/Window_Eastside_Dod2016.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
						</div>
					</div>

					<div class='landing-work' data-entrance='fade'>
						<img src='./static/images/Gallery/Commercial/Windows/Window_Eastside_Newyears.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
						</div>
					</div>

					<div class='landing-work' data-entrance='fade'>
						<img src='./static/images/Gallery/Commercial/Windows/Window_GDAC_JLeeBday.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
						</div>
					</div>


					<div class='landing-work large-desktop' data-entrance='fade'>
						<img src='./static/images/Gallery/Commercial/Windows/Window_GDAC_Winter.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
						</div>
					</div>

					<div class='landing-work large-desktop' data-entrance='fade'>
						<img src='./static/images/Gallery/Commercial/Windows/Window_GameChangers_Christmas.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
						</div>
					</div>

					<div class='landing-work large-desktop' data-entrance='fade'>
						<img src='./static/images/Gallery/Commercial/Windows/Window_JupiterHouse_Winter.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
						</div>
					</div>

					<div class='landing-work large-desktop' data-entrance='fade'>
						<img src='./static/images/Gallery/Commercial/Windows/Window_LaDiDa_Christmas.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
						</div>
					</div>

					<div class='landing-work large-desktop' data-entrance='fade'>
						<img src='./static/images/Gallery/Commercial/Windows/Window_RecycledBooks_Christmas2016.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
						</div>
					</div>

					<div class='landing-work large-desktop' data-entrance='fade'>
						<img src='./static/images/Gallery/Commercial/Windows/Windows_Eastside_ChristmasCoal.jpg'>
						<div>
							<h3>Work for from <span>This Place</span></h3>
							<p>Blah blah, a business that does blah blah and blah blah blah blah da blah blah blah</p>
						</div>
					</div>
				</div>

				<div class='landing-latest-button'>
					<a href='/recent'>
						<button>
							<span>See More</span>
						</button>
					</a>
				</div>
			</div>